<div class="AppContainer">
  <div class="AppContent-main u-cf">
    <!-- メインメニュー -->
    <div class="PasswordReminderModules">
      <div *ngIf="verified" class="content-module">
        <h3 class="password-reminder-title">パスワード再設定</h3>
        <!-- パスワード再設定画面 -->
        <div *ngIf="verifySuccess" class="verified-password-reset-view">
          <div class="email-password-reminder">
            <form #f="ngForm" class="password-reminder-form" (ngSubmit)="resetPassword(f)">
              <div class="form-group">
                <label for="password">
                  <span>パスワード</span>
                </label>
                <input ngModel type="password" class="form-control" name="password" id="password" required minlength="8">
                <label for="password2">
                  <span>パスワード(確認用)</span>
                </label>
                <input ngModel type="password" class="form-control" name="password2" id="password2" required minlength="8">
              </div>
              <button type="submit" class="btn btn-primary signup-button">
                <b>同意して登録</b>
              </button>
            </form>
          </div>
          <div *ngIf="updatePasswordFailed" class="updated-password-message">
          <p><b>パスワードの変更に失敗しました。</b></p>
            <div *ngFor="let error of validationErrors">
              {{error}}
            </div>
          <br>
          <p>※複数回試してもパスワードが変更できない場合は、お手数ですが<a href="#">こちら</a>からお問い合わせください。</p>
        </div>
        </div>
        <!-- パスワード変更結果画面 -->
        <div *ngIf="updatedPassword" class="updated-password-message">
          <p><b>パスワードの変更が完了しました。</b></p>
          <p><b>以下のリンクからログインしてサービスをご利用ください。</b></p>
          <br>
          <p class="signin-link"><a routerLink="/login/">ログインはこちら</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
