a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}
ul {
    list-style: none;
    padding-left: 0;
}

/* Smart Phone Web用のスタイル(画面サイズが480px以下の場合) */
@media screen and (min-width:0px) and (max-width: 480px) {
    .AppContainer {
        max-width: 480px;
    }
    .AppContent-main {
    }
    .AccountSettingModules {
        width: 100%;
        padding: 8px;
    }
    .profile-image {
        text-align: center;
    }
    .preview-profile-image {
        width: 100px;
        height: 100px;
    }
    .profile-image-label {
        width: 100px;
        height: 100px;
    }
    .action-button {
        margin: 30px;
    }
    .account-name-module {
        padding: 10px;
    }
    .account-name-form {
        margin: 10px;
    }
}

/* Tablet用のスタイル(画面サイズが480~1240px以上の場合) */
@media screen and (min-width:480px) and (max-width: 1240px) {
    .AppContainer {
        max-width: 1240px;
    }
    .AppContent-main {
    }
    .AccountSettingModules {
        width: 100%;
        padding: 10px;
    }
    .content-module {
        margin: 0 80px;
    }
    .profile-image {
        text-align: center;
    }
    .preview-profile-image {
        width: 175px;
        height: 175px;
    }
    .profile-image-label {
        width: 175px;
        height: 175px;
    }
    .action-button {
        margin: 30px;
    }
    .account-name-module {
        width: 100%;
        padding: 10px;
    }
    .account-name-form {
        margin: 10px 80px;
    }
}

/* PC用のスタイル(画面サイズが1240px以上の場合) */
@media screen and (min-width: 1240px) {
    .AppContainer {
        max-width: 1190px;
        margin: 0 auto;
    }
    .AppContent-main {
        margin: 15px auto 0;
        min-width: 890px;
    }
    .AccountSettingModules {
    }
    ul.form-group li {
        display: inline-block;
        vertical-align: middle;
    }
    .preview-profile-image {
        width: 250px;
        height: 250px;
    }
    .profile-image-label {
        width: 250px;
        height: 250px;
    }
    .text-field {
        margin: 10px;
        width: 55%;
        text-align: left;
    }
    .action-button {
        margin: 20px;
    }
    .account-name-module {
        width: 100%;
        padding: 8px;
    }
    .account-name-form {
        margin: 20px 300px;
    }
}

/* メインコンテンツ */
.AccountSettingModules {
    background-color: #fff;
    border: 1px solid #e6ecf0;
    padding: 10px;
}
.account-setting {
    font-weight: bold;
    text-align: center;
}

.update-form {
    margin: 20px 20px;
}
ul.form-group {
    margin-bottom: 0;
    padding-left: 0;
    text-align: center;
}
.profile-image {
    margin: 10px 30px;
}
.form-control {
    color: #222222;
    border: 0 solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0;
    font-size: 14px;
    border-radius: 0;
    box-shadow: none;
    transition: none;
}
label {
    margin-top: 25px;
    margin-bottom: 5px;
}
.profile-image-label {
    border-radius: 50%;
}
.preview-profile-image {
    opacity: 1;
    border-radius: 50%;
    object-fit: cover;
}
.preview-profile-image:hover {
    opacity: 0.7;
    cursor: pointer;
}
textarea {
    height: 70px;
}
.action-button {
    text-align: center;
}
.btn-primary {
    border-radius: 0;
    border: 0 solid #e6ecf0;
}

.signin-link, .account-name-link {
    text-align: center;
    margin-top: 30px;
}
.signin-link {
    margin-top: 30px;
}
.account-name-link {
    margin-top: 15px;
}
