.page-outer {
}
a {
    color: #222222;
    text-decoration: none;
}
a:visited {
    color: #222222;
    text-decoration: none;
}
a:hover {
    color: #337ab7;
    text-decoration: none;
}

/* 本棚名ナビ */
.ShelfNameNavigation {
}
.u-bgUserColor, .u-bgUserColorHover:hover, .u-bgUserColorHover:focus {
    background-color: #337ab7 !important;
}
.ShelfNameNavigation-canopy {
    background-color: #337ab7;
    padding: 14px 0;
}
.ShelfNameNavigation-textContainer {
    color: #fff;
    margin: 0 auto;
    max-width: 1190px;
}
.ShelfNameNavigation-titleText {
    color: #fff;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
h1 {
    font-size: 24px;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    margin: 0;
}

/* 本棚の基本情報 */
.ShelfNavigation {
    border-bottom: 1px solid #e6ecf0;
}
.ShelfNavigation-canopy {
    background-color: #ffffff;
    padding: 10px 0;
}
.ShelfNavigation-textContainer {
    color: #222222;
    margin: 0 auto;
    max-width: 1190px;
}
.ShelfNavigation-titleText {
    overflow: hidden;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
ul.shelf-data {
    float: left;
    list-style: none;
    margin-bottom: 0 !important;
    width: 200px;
    padding-left: 0;
}
ul.shelf-data li {
    margin-right: 10px;
}
.shelf-producer-image {
}
.profile-image {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.shelf-producer-image, .producer-name, .producer-account-name {
    float: left;
}
.producer-name, .producer-account-name {
    margin-top: 0;
    font-size: 12px;
}
.producer-account-name {
    color: #657786;
}
.shelf-description {
    margin-left: 220px;
}
.shelf-description-text {
    word-wrap: break-word;
    white-space: normal;
}

/* メインコンテンツ */
@media screen and (min-width: 1236px) {
  .AppContainer {
    max-width: 1190px;
  }
}
.AppContainer {
    margin: 0 auto;
}
.AppContent-main {
    margin: 15px auto 0;
    max-width: 1190px;
    min-width: 890px;
}
@media (min-width: 1236px) {
  .ShelfBooksModules {
    float: none;
    margin: auto;
  }
}
.ShelfBooksModules {
    width: 100%;
    background-color: #fff;
    border: 1px solid #e6ecf0;
}
ul.shelf-book-module {
    list-style: none;
    margin-bottom: 0 !important;
}
ul.shelf-book-module li {
    width: 205px;
    vertical-align: top;
    display: inline-block;
    margin: 12px;
}
.shelf-book-module {
    padding: 10px;
    line-height: 16px;
}
.book-image {
    text-align: center;
    margin-bottom: 7px;
}
.amazon-book-image {
    width: 120px;
    height: 165px;
}
.shelf-element {
    font-size: 13px;
}
.book-title {
    padding-left: 0;
    margin-bottom: 2px;
}
ul.book-title-data {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.book-title-data li {
    display: inline-block;
    margin: 3px 0 0 0;
}
.sale-date {
    font-size: 12px;
    color: #657786 !important;
}
.book-author-data {
    font-size: 12px;
}
ul.authors {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.authors li {
    display: inline;
}
.author_name {
    margin: 4px 0 0 0 !important;
}
