<div class="page-outer">
  <div class="AppContainer">
    <div class="AppContent-main u-cf">
      <!-- メインメニュー(本棚一覧) -->
      <div class="ShelfsModules">
        <div class="module shelfs">
          <div *ngIf="shelfCount > 0" class="shelf-module">
            <!-- 本棚の情報 -->
            <div *ngFor="let shelf of shelfs"
                 class="js-shelf-books shelf-books-content flex-module-inner"
                 data-section-id="wtf" style="opacity: 1;">
              <ul class="shelf-basic-info">
                <li>
                  <!-- カテゴリの作成者 -->
                  <div class="producer-info">
                    <a routerLink="/user/{{shelf.user.account_name}}">
                      <div class="producer-icon">
                        <div *ngIf="shelf.user.profile_image_link !== null" class="user-profile-icon">
                          <img class="profile-image"
                               src="../../assets/image/profile/{{shelf.user.profile_image_link}}"
                               alt=""/>
                        </div>
                        <div *ngIf="shelf.user.profile_image_link === null" class="user-profile-icon">
                          <img class="profile-image" src="../../assets/image/profile/default_profile_image.png" alt=""/>
                        </div>
                      </div>
                    </a>
                  </div>
                </li>
                <li>
                  <!-- 本棚の名前 -->
                  <h4 class="shelf-book-info">
                    <div class="ShelfNameItem-context">
                      <a routerLink="/shelf/{{shelf.shelf_cd}}/"><b>{{shelf.shelf_name}}</b></a>
                    </div>
                  </h4>
                </li>
              </ul>
              <!-- 特集の本の一覧 -->
              <div class="book-comment">
                <div class="ShelfItem-context">
                  <ul class="shelf-books">
                    <li *ngFor="let book of shelf.books; let i = index">
                      <div *ngIf="i < 5">
                        <div class="book-image shelf-element">
                          <a class="amazon-book-detail"
                             href="https://www.amazon.co.jp/dp/{{book.amazon_book[0].data_asin}}/"
                             target="_blank">
                            <img class="amazon-book-image" border="0"
                                 src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN={{book.amazon_book[0].data_asin}}&Format=_SL500_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&language=ja_JP"></a><img
                          src="https://ir-jp.amazon-adsystem.com/e/ir?language=ja_JP&l=li3&o=9&a={{book.amazon_book[0].data_asin}}"
                          width="1"
                          height="1" border="0" alt="" style="border:none !important; margin:0 !important;"/>
                        </div>
                        <div class="book-content shelf-element">
                          <ul class="book-title-data">
                            <a routerLink="/book/{{book.id}}">
                              <li class="book-title">{{book.title | slice: 0 :40}}</li>
                            </a>
                            <li class="sale-date">{{book.sale_date | date:"yyyy年M月d日"}}</li>
                            <ul class="authors">
                              <li *ngFor="let author of book.authors; let i = index" class="author_name">
                                <a *ngIf="i === 0" [routerLink]="['/search/']"
                                   [queryParams]="{ author : author.author_name }">{{author.author_name}}</a>
                                <a *ngIf="i > 0" [routerLink]="['/search/']"
                                   [queryParams]="{ author : author.author_name }">, {{author.author_name}}</a>
                              </li>
                            </ul>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="shelfCount === 0" class="shelf-none-module">
            <div class="no-shelf-text">
              <span>本がありませんでした。</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
