.page-outer {
}
a {
    color: #222222;
    text-decoration: none;
}
a:visited {
    color: #222222;
    text-decoration: none;
}
a:hover {
    color: #337ab7 !important;
}

/* メインコンテンツ */
@media screen and (min-width: 1236px) {
  .AppContainer {
    /* 中央揃えにならないからコメントアウト */
    /*max-width: 1190px;*/
  }
}
.AppContainer {
}
.AppContent-main {
    margin: 15px auto 0;
    min-width: 890px;
}
@media screen and (min-width: 1236px) {
  .u-lg-size1of4, .u-lg-size2of8, .u-lg-size3of12 {
    width: 25%!important;
  }
}
.u-size1of3, .u-size2of6, .u-size4of12 {
    width: 33.33333333333333%!important;
}
.module ul:first-child li:first-child .list-link, .module .flex-module:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.module .flex-module {
    background-color: #fff;
    border: 1px solid #e6ecf0;
    padding: 15px;
    line-height: 16px;
}

.flex-module-inner, .flex-module-footer {
    color: #222222;
    font-size: 14px;
}

/* メインコンテンツ */
@media (min-width: 1236px) {
  .ShelfsModules {
    float: none;
    margin: auto;
  }
}
.ShelfsModules {
    width: 80%;
}
.shelf-module {
    background-color: #fff;
    border: 1px solid #e6ecf0;
    padding: 10px;
    line-height: 16px;
}
.shelf-books-content {
    border-bottom: 1px solid #e6ecf0;
    margin: 5px;
    padding: 10px 0;
}
ul.shelf-basic-info {
    list-style: none;
    margin-bottom: 8px !important;
    padding-left: 0;
}
ul.shelf-basic-info li {
    display: inline-block;
    margin: 0 8px 0 0;
}
.profile-image {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    vertical-align: sub !important;
    margin-bottom: 10px;
}
ul.comment-reactions {
    list-style: none;
    margin-bottom: 5px !important;
    padding-left: 0;
}
ul.comment-reactions li {
    display: inline-block;
    margin-right: 10px;
}
ul.comment-reaction {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.comment-reaction li {
    display: inline-block;
    margin-right: 4px;
}
ul.comment-reaction li > span {
    color: #cccccc;
}
ul.comment-reaction li > span.comment-reaction-reply:hover {
    color: #337ab7;
    cursor: pointer;
}
ul.comment-reaction li > span.comment-reaction-heart:hover {
    color: #f08080;
    cursor: pointer;
}
ul.comment-reaction li > span.favorite-done {
    color: #f08080;
}

.ShelfNameItem-context > a:hover {
    color: #337ab7 !important;
}

ul.shelf-books {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.shelf-books li {
    width: 205px;
    vertical-align: top;
    display: inline-block;
    margin-right: 15px;
    margin-left: 3px;
}
.shelf-element {
    margin-top: 2px;
    font-size: 12px;
}
.book-image {
    text-align: center;
    margin-bottom: 10px;
}
.amazon-book-image {
    width: 120px;
    height: 165px;
    border: 1px solid #e6ecf0;
}
ul.book-title-data {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.book-title-data li {
    margin: 1px 0;
}
.book-title {
    font-weight: bold;
    word-wrap: break-word;
}
ul.authors {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.authors li {
    display: inline;
}
.author-name {
    width: auto !important;
}
.sale-date {
    font-size: 12px;
    color: #657786 !important;
}

.no-shelf-text {
    text-align: center;
}
