a {
    color: #222222;
    text-decoration: none;
}
a:hover {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}

.top-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
.global-nav {
    border-bottom: 2px solid #e6ecf0;
    background-color: #fff;
}
header {
    padding-bottom: 46px;
}
.global-nav-inner {
    height: 46px;
}

/* Smart Phone Web用のスタイル(画面サイズが480px以下の場合) */
@media screen and (min-width:0px) and (max-width: 480px) {
    .global-nav {
        padding-right: 10px;
        padding-left: 10px;
    }
    .container {
        padding-right: 0;
        padding-left: 0;
    }
    .Icon {
        font-size: 16px;
        margin: 15px 0;
    }
    b.menu-text {
        display: none;
    }
}

/* Tablet用のスタイル(画面サイズが480~1240px以上の場合) */
@media screen and (min-width:480px) and (max-width: 1240px) {
    .global-nav {
        padding-right: 20px;
        padding-left: 20px;
    }
    .Icon {
        font-size: 20px;
        margin: 12px 0;
    }
    b.menu-text {
        display: none;
    }
}

/* PC用のスタイル(画面サイズが1240px以上の場合) */
@media screen and (min-width: 1240px) {
    .global-nav {
        padding-right: 130px;
        padding-left: 130px;
    }
    .Icon {
        font-size: 24px;
        margin: 10px 0;
    }
}

.global-nav .container {
    width: auto;
    min-height: 48px;
}

.container {
    position: relative;
}

/* home-menu */
.Icon {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}
.global-menu {
    margin-top: 15px;
    padding: 0;
}
.global-actions {
    float: left;
    padding-left: 20px;
}


.pull-right {
    float: right;
}
.login-user-menu {
    margin: 0;
    cursor: pointer;
}
.avatar {
    border-radius: 50%;
    object-fit: cover;
    height: 36px;
    width: 36px;
    transform: translateY(-25%);
}

ul.dropdown-menu {
    left: -150px;
    top: 20px;
}
.dropdown-divider {
    padding-top: 1px;
    margin: 5px 1px 6px;
    border-bottom: 1px solid #e6ecf0;
}
p.name {
    margin: 0;
}
p.my-page {
    margin: 5px 0 0;
    font-size: 12px;
}
