<header>
  <div id="header">
    <div class="top-bar">
      <div class="global-nav">
        <div class="global-nav-inner">
          <div class="container">

            <!-- ホームメニュー -->
            <h1 class="home-menu Icon Icon--engineersCore topbar-etched">
              <nav>
                <a routerLink="/shelves/">EngineersCore</a>
              </nav>
            </h1>
            <!-- 左メニュー -->
            <div class="left-menu">
              <ul class="nav global-actions">
                <li id="global-nav-search">
                  <nav>
                    <a routerLink="/search/">
                      <span class="search"><fa-icon [icon]="faSearch"></fa-icon></span>
                      <b> 検索する</b>
                    </a>
                  </nav>
                </li>
              </ul>
              <ul class="nav global-actions">
                <li id="global-nav-shelf-books">
                  <nav>
                    <a routerLink="/shelves/">
                      <span class="shelf-books"><fa-icon [icon]="faBookReader"></fa-icon></span>
                      <b> みんなの本棚</b>
                    </a>
                  </nav>
                </li>
              </ul>
            </div>
            <div class="pull-right nav-extras">
              <ul class="nav right-actions">
                <!-- ログインユーザーメニュー -->
                <div class="login-user-menu">
                  <div class="btn-group" dropdown [insideClick]="true">
                    <div dropdownToggle class="dropdown-toggle login-state" *ngIf="appComponent.isLoggedIn">
                      <div
                        *ngIf="appComponent.profileImageLink === null || appComponent.profileImageLink === undefined">
                        <nav><img class="avatar" src="../../../assets/image/profile/default_profile_image.png" alt=""/>
                        </nav>
                      </div>
                      <div class="user-profile-image"
                           *ngIf="appComponent.profileImageLink !== null && appComponent.profileImageLink !== undefined">
                        <nav><img class="avatar" src="../../assets/image/profile/{{appComponent.profileImageLink}}"
                                  alt=""/></nav>
                      </div>
                    </div>
                    <div dropdownToggle class="dropdown-toggle login-state" *ngIf="!appComponent.isLoggedIn">
                      <nav>
                        <fa-icon [icon]="faBars"></fa-icon>
                      </nav>
                    </div>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li *ngIf="appComponent.isLoggedIn" role="menuitem">
                        <a class="dropdown-item" routerLink="/user/{{appComponent.accountName}}">
                          <b class="fullname">{{appComponent.userName}}</b><span class="UserBadges"></span>
                          <p class="name"><span class="username" dir="ltr">@{{appComponent.accountName}}</span></p>
                        </a>
                      </li>
                      <li *ngIf="appComponent.isLoggedIn" class="divider dropdown-divider"></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">アカウント設定</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">お問い合わせ</a></li>
                      <li class="divider dropdown-divider"></li>
                      <li *ngIf="appComponent.isLoggedIn" role="menuitem"><a><span class="dropdown-item" (click)="signOut()">ログアウト</span></a>
                      </li>
                      <li *ngIf="!appComponent.isLoggedIn" role="menuitem"><a class="dropdown-item" routerLink="/login/">ログイン</a>
                      </li>
                      <li *ngIf="!appComponent.isLoggedIn" role="menuitem"><a class="dropdown-item" routerLink="/signup/">新規登録</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
