a {
    color: #222222;
    text-decoration: none;
}
a:visited {
    color: #222222;
    text-decoration: none;
}
a:hover {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}
ul {
    list-style: none;
    padding-left: 0;
}
.btn-primary, .btn-success {
    border-radius: 0;
}

/* Smart Phone Web用のスタイル(画面サイズが480px以下の場合) */
@media screen and (min-width:0px) and (max-width: 480px) {
    .AppContainer {
        max-width: 480px;
    }
    .AppContent-main {
    }
    .SidebarBookModules {
        width: 100%;
    }
    .book-module, .reaction-module, .register-module {
        text-align: center;
    }
    .item {
        padding: 8px 0;
    }
    .amazon-book-image {
        width: 40%;
    }
    .book-comment-form {
        width: 100%;
    }
    .book-comment-date-form {
        width: 60%;
        margin: 0 auto;
    }
    .book-comment {
        width: 95%;
        font-size: 12px;
    }
    ul.comment-user-name-space {
        width: 69%;
    }
    .comment {
        width: 90%;
    }
    .comment-content {
        margin: 20px 0 10px;
    }
    .comment-text-form {
        font-size: 12px;
    }
}

/* Tablet用のスタイル(画面サイズが480~1240px以上の場合) */
@media screen and (min-width:480px) and (max-width: 1240px) {
    .AppContainer {
        max-width: 1240px;
    }
    .AppContent-main {
    }
    .SidebarBookModules {
        width: 100%;
    }
    .book-module, .reaction-module, .register-module {
        text-align: center;
    }
    .dashboard-book-detail, .comment-module {
        max-width: 500px;
        margin: 0 auto;
    }
    .item {
        padding: 8px 0;
    }
    .amazon-book-image {
        width: 50%;
    }
    .book-comment-form {
        width: 80%;
        margin: 0 auto;
    }
    .book-comment-date-form {
        width: 40%;
        margin: 0 auto;
    }
    ul.comment-user-name-space {
        width: 88%;
    }
    .comment {
        width: 95%;
    }
}

/* PC用のスタイル(画面サイズが1240px以上の場合) */
@media screen and (min-width: 1240px) {
    .AppContainer {
        max-width: 1190px;
    }
    .AppContent-main {
        margin: 15px auto 0;
        min-width: 890px;
    }
    .SidebarBookModules {
        float: left;
        width: 290px;
    }
    .module {
        margin-bottom: 10px;
    }
    .flex-module-inner {
        padding: 0 10px;
    }
    .book-image {
        text-align: center;
    }
    .amazon-book-image {
        width: 210px;
        height: 275px;
    }
    .item {
        border-bottom: 1px solid #e6ecf0;
        padding: 10px 0;
    }
    .BookCommentsModules {
        float: left;
        margin: 0 10px;
        width: 590px;
    }
    .book-comment-form {
        width: 80%;
    }
    .book-comment-date-form {
        width: 30%;
    }
    ul.comment-user-name-space {
        width: 88%;
    }
    .comment {
        width: 95%;
    }
}

.label {
    float: left;
}

/* メインコンテンツ */
.AppContainer {
    margin: 0 auto;
}

/* 左サイドバー */
.module {
    background-clip: padding-box;
    border: 0;
    position: relative;
}

.module .flex-module {
    background-color: #fff;
    border: 1px solid #e6ecf0;
    padding: 15px;
    line-height: 16px;
}

.flex-module-inner, .flex-module-footer {
    color: #222222;
    font-size: 14px;
}

ul.book-title-data {
    margin-bottom: 0;
    padding: 0;
}
ul.book-title-data li {
    margin: 4px 0;
}
.book-title {
    font-weight: bold;
    word-wrap: break-word;
}
ul.authors {
    margin-bottom: 0;
}
ul.authors li {
    display: inline;
}
.author-name {
    width: auto;
}
.sale-date {
    font-size: 12px;
    color: #657786;
}

.dashboard-book-reaction {
    margin-top: 5px;
}

.book-action-button {
    text-align: center;
}

/* メインコンテンツ */
.BookCommentsModules {
    background-color: #fff;
    border: 1px solid #e6ecf0;
}
.comment-module {
    padding: 10px;
    line-height: 16px;
}
.book-comment-content {
    border-bottom: 1px solid #e6ecf0;
    /* ↓コメント詳細を開けるようにしたら有効にする */
    /*cursor: pointer;*/
    margin: 5px;
    padding: 10px 0;
}
.comment-text {
    max-width: 90%;
    word-break: break-word;
}
.comment-text, .comment-reaction {
    padding-top: 5px;
    white-space: pre-line;
    line-height: normal;
}
.user-name {
    font-weight: bold;
}
.comment-date {
    max-width: 90%;
}
ul.comment-reactions {
    margin-bottom: 0;
    padding-left: 0;
}
ul.comment-reactions li {
    display: inline-block;
    margin-right: 10px;
}
ul.comment-reaction {
    margin-bottom: 0;
    padding-left: 0;
}
ul.comment-reaction li {
    display: inline-block;
    margin-right: 4px;
}
ul.comment-reaction li > span {
    color: #cccccc;
}
ul.comment-reaction li > span.comment-reaction-reply:hover {
    color: #337ab7;
    cursor: pointer;
}
ul.comment-reaction li > span.comment-reaction-heart:hover {
    color: #f08080;
    cursor: pointer;
}
ul.comment-reaction li > span.favorite-done {
    color: #f08080;
}
.no-comment-text {
    padding: 10px;
    line-height: 16px;
    text-align: center;
}

.comment-text-form {
    height: 45px;
    width: 100%;
    color: #222222;
    border: 0 solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    transition: none;
}
ul.add-comment {
    margin: 25px 0;
    padding-left: 0;
}
ul.add-comment li {
    display: inline;
}
.add-reply-form-group {
    width: 90%;
    margin-bottom: 5px;
}
.comment-form {
    margin-left: 55px;
}
.comment-button {
    border-radius: 0;
    background-color: #cccccc;
    border: 0 solid #e6ecf0;
}
.comment-button:hover {
    background-color: #337ab7;
}

ul.comment-list {
    margin: 0;
    padding-left: 0;
}
.comment-menu {
    float: right;
    padding: 0 10px;
}
.comment-menu-icon {
    color: #cccccc;
}
.dropdown-menu {
    top: 18px;
    left: -180px;
}
ul.comment-user {
    margin: 0;
}
ul.comment-user li {
    display: inline;
}
.user-profile-icon {
    text-align: center;
    position: absolute;
}
.profile-image {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: text-top;
}
ul.comment-user-name-space {
    margin: 0 0 5px 55px;
}
.comment-user-name {
    font-weight: bold;
}
.account-name {
    color: #657786;
}
.comment {
    padding: 0 0 0 55px;
    white-space: pre-line;
}
ul.space-for-comment {
    margin: 0 50px;
}

.replies {
    margin: 20px 0 0 30px;
}
.reply-button {
    border-radius: 0;
    background-color: #cccccc;
    border: 0 solid #e6ecf0;
}
.reply-button:hover {
    background-color: #337ab7;
}
.reply-comment {
    margin: 15px 0;
}
.min-profile-image {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: text-top !important;
}
