.page-outer {
}

a {
    color: #222222;
    text-decoration: none;
}
a:visited {
    color: #222222;
    text-decoration: none;
}

/* 本のタイトルナビ */
.BookNavigation {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 46px;
}
.u-bgUserColor, .u-bgUserColorHover:hover, .u-bgUserColorHover:focus {
    background-color: #91D2FA !important;
}
.BookNavigation-canopy {
    background-color: #1da1f2;
    padding: 16px 0;
}
.BookNavigation-textContainer {
    margin: 0 auto;
    max-width: 1190px;
}
.BookNavigation-titleText {
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    line-height: 32px;
    overflow: hidden;
    padding-left: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
h1 {
    font-size: 24px;
    line-height: .8;
    text-rendering: optimizeLegibility;
    margin: 0;
}

/* メインコンテンツ */
@media screen and (min-width: 1236px) {
  .AppContainer {
    max-width: 1190px;
  }
}
.AppContainer {
    margin: 70px auto;
}
.AppContent-main {
    margin: 15px auto 0;
    max-width: 1190px;
    min-width: 890px;
}
.Grid--withGutter {
    margin: 0 -5px;
}
.Grid {
    display: block;
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: left;
}

.Grid--withGutter>.Grid-cell {
    padding: 0 5px;
}
.Grid-cell {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: top;
    width: 100%;
}
@media screen and (min-width: 1236px) {
  .u-lg-size1of4, .u-lg-size2of8, .u-lg-size3of12 {
    width: 25%!important;
  }
}
.u-size1of3, .u-size2of6, .u-size4of12 {
    width: 33.33333333333333%!important;
}

/* 左サイドバー */
.SidebarBookModules {
    float: left;
    width: 290px;
}

.wtf-module.has-content {
    display: block;
}
.wtf-module {
    display: none;
}
.module {
    background-clip: padding-box;
    border: 0;
    position: relative;
    margin-bottom: 10px;
}

.module ul:first-child li:first-child .list-link, .module .flex-module:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.module .flex-module {
    background-color: #fff;
    border: 1px solid #e6ecf0;
    padding: 15px;
    line-height: 16px;
}

.flex-module-inner, .flex-module-footer {
    color: #222222;
    font-size: 12px;
}

.book-info-text > a:hover {
    color: #91D2FA !important;
}

.book-title {
    font-size: 14px;
}

.book-title, .book-sale-date {
    margin-bottom: 3px
}

.BookImageItem-context > .content {
    text-align: center;
}

.item {
    margin-top: 5px;
    border-bottom: 1px solid #e6ecf0;
    padding: 6px 0;
}
.account-summary {
    position: relative;
    display: block;
    min-height: 48px;
}
b {
  margin: 1px;
}

.book-action-button {
    text-align: center;
}

/* メインコンテンツ */
@media (min-width: 1236px) {
  .BookCommentsModules {
    float: left;
    margin: 0 10px;
  }
}

.BookCommentsModules {
    width: 590px;
}
.comment-module {
  background-color: #fff;
    border: 1px solid #e6ecf0;
    padding: 10px;
    line-height: 16px;
}
.book-comment-content {
    border-bottom: 1px solid #e6ecf0;
    cursor: pointer;
    margin: 5px;
    padding: 10px 0;
}
.comment-content {
    margin-left: 58px;
}
.comment-text, .comment-reaction {
    padding-top: 5px;
}
.avatar {
    float: left;
    position: absolute;
    width: 48px;
    height: 48px;
    margin-top: 3px;
    margin-left: -58px;
    border-radius: 50%;
    -moz-force-broken-image-icon: 1;
}
.comment-user > a:hover {
    color: #91D2FA !important;
}
.comment-user {
    float: left;
}
.user-name {
    font-weight: bold;
}

.no-comment-text {
  text-align: center;
}

