<div class="page-outer" *ngIf="book">
  <!-- 本のタイトル -->
  <div class="BookNavigation">
    <div class="BookNavigation-canopy u-bgUserColor">
      <div class="BookNavigation-textContainer">
        <h1 class="BookNavigation-titleText" dir="ltr">
          {{book.title}}
        </h1>
      </div>
    </div>
  </div>

  <div class="AppContainer">
    <div class="AppContent-main u-cf">
      <!-- 左サイドバー(本の情報) -->
      <div class="SidebarBookModules">
        <!-- 本の情報 -->
        <div class="module book">
          <div class="flex-module">
            <div class="flex-module-header"></div>
            <div class="js-book-detail dashboard-book-detail flex-module-inner" data-section-id="wtf"
                 style="opacity: 1;">
              <div class="book-image item">
                <div class="BookImageItem-context">
                  <div class="content">
                    <a class="amazon-book-detail" href="https://www.amazon.co.jp/dp/{{book.amazonBook}}/">
                      <img border="0"
                           src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN={{book.amazonBook}}&Format=_SL250_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&language=ja_JP"></a><img
                    src="https://ir-jp.amazon-adsystem.com/e/ir?language=ja_JP&l=li3&o=9&a={{book.amazonBook}}"
                    width="1"
                    height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
                  </div>
                </div>
              </div>
              <div class="book-basic-info item">
                <div class="BookBasicInfoItem-context">
                  <div class="content">
                    <div class="book-info-text book-title">
                      <strong><b>{{book.title}}</b></strong>
                    </div>
                    <div class="book-info-text book-author">
                      <span><b>TODO:本の著者名で置き換え（著）</b></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="book-detail-info item">
                <div class="BookDetailInfoItem-context">
                  <div class="content">
                    <div class="book-info-text book-sale-date">
                      <span><b>{{book.saleDate}} 発売</b></span>
                    </div>
                    <div class="book-info-text book-page-count">
                      <span><b>{{book.pagesCount}} ページ</b></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 本の読んだ・読みたい登録 -->
        <div class="module register">
          <div class="flex-module">
            <div class="flex-module-header">
              <strong>本の登録</strong>
            </div>
            <div class="js-book-detail dashboard-book-detail flex-module-inner" data-section-id="wtf"
                 style="opacity: 1;">
              <div class="book-read item">
                <div class="BookReadItem-context">
                  <div class="content">
                    <div class="book-read">
                      <ul class="book-action-button">
                        <li>
                          <strong><b>読んだ</b></strong>
                        </li>
                        <li>
                          <form #f="ngForm" (ngSubmit)="registerBookComment(f)" novalidate>
                            <input type="hidden" [(ngModel)]="book.id" name="bookId" ngModel>
                            <div class="form-group">感想：<input type="text" name="comment" ngModel required></div>
                            <div class="form-group">読んだ日：<input type="date" name="readDate" ngModel required></div>
<!--                            <mat-form-field>-->
<!--                              <input matInput [matDatepicker]="picker" placeholder="Choose a date">-->
<!--                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--                              <mat-datepicker #picker></mat-datepicker>-->
<!--                            </mat-form-field>-->
                            <button type="submit" class="btn btn-success">登録する</button>
                          </form>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="interested-read item">
                <div class="BookInterestedItem-context">
                  <div class="content">
                    <div class="book-interested">
                      <ul class="book-action-button">
                        <li>
                          <strong><b>読みたい</b></strong>
                        </li>
                        <li *ngIf="!isInterested">
                          <form (ngSubmit)="interested(book.id)">
                            <button><strong><b>読みたい本に登録する</b></strong></button>
                          </form>
                        </li>
                        <li *ngIf="isInterested">
                          <form (ngSubmit)="notInterested(book.id)">
                            <button><strong><b>読みたい本に登録済み</b></strong></button>
                          </form>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 本のリアクション -->
        <div class="module reaction">
          <div class="flex-module">
            <div class="js-book-reaction dashboard-book-reaction flex-module-inner" data-section-id="wtf"
                 style="opacity: 1;">
              <div class="book-comment item">
                <div class="BookCommentItem-context">
                  <div class="content">
                    <div class="book-comment-count">
                      <!-- TODO -->
                      <strong><b>3人がコメントしています</b></strong>
                    </div>
                  </div>
                </div>
              </div>
              <div class="book-read item">
                <div class="BookReadCountItem-context">
                  <div class="content">
                    <div class="book-read-count">
                      <!-- TODO -->
                      <strong><b>9人が読んでいます</b></strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- メインメニュー(本の読んだコメント) -->
      <div class="BookCommentsModules">
        <!-- 本の情報 -->
        <div class="module bookComments">
          <div class="comment-module">
            <div *ngFor="let comment of bookComments" class="js-book-comments book-comment-content flex-module-inner"
                 data-section-id="wtf" style="opacity: 1;">
              <a routerLink="/bookcomment/{{comment.id}}/">
                <div class="book-comment">
                  <div class="BookCommentItem-context">
                    <!-- いいねしたユーザーの情報など -->
                    <div class="context"></div>
                    <div class="comment-content">
                      <div class="comment-user">
                        <a routerLink="/user/{{comment.user.account_name}}">
                          <div class="comment-user">
                            <div class="user-icon">
                              <img class="avatar" src="../../assets/image/profile/test_image.png"/>
                              <!--                              <img class="avatar" [src]={{}} alt="" />-->
                              <!--                        {{comment.user.profileImageLink}}-->
                            </div>
                            <div class="user-name">
                              {{comment.user.user_name}}(@{{comment.user.account_name}})
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="comment-date">
                        ・{{comment.comment_date}}
                      </div>
                      <div class="comment-text">
                        {{comment.comment_text}}
                      </div>
                      <div class="comment-reaction">
                        (コメント数・いいね数)
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 右サイドバー -->

  </div>
</div>
