.page-outer {
}
a {
    color: #222222;
    text-decoration: none;
}
a:visited {
    color: #222222;
    text-decoration: none;
}
a:hover {
    color: #337ab7 !important;
}

/* 本のタイトルナビ */
.BookNavigation {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 46px;
}
.BookNavigation-canopy {
    background-color: #337ab7;
    padding: 14px 0;
}
.BookNavigation-textContainer {
    margin: 0 auto;
    max-width: 1190px;
}
.BookNavigation-titleText {
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    line-height: 32px;
    overflow: hidden;
    padding-left: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
h1 {
    font-size: 24px;
    text-rendering: optimizeLegibility;
    margin: 0;
}

/* メインコンテンツ */
@media screen and (min-width: 1236px) {
  .AppContainer {
    max-width: 1190px;
  }
}
.AppContainer {
    margin: 70px auto;
}
.AppContent-main {
    margin: 15px auto 0;
    max-width: 1190px;
    min-width: 890px;
}
.Grid--withGutter {
    margin: 0 -5px;
}
.Grid {
    display: block;
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: left;
}

.Grid--withGutter>.Grid-cell {
    padding: 0 5px;
}
.Grid-cell {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: top;
    width: 100%;
}
@media screen and (min-width: 1236px) {
  .u-lg-size1of4, .u-lg-size2of8, .u-lg-size3of12 {
    width: 25%!important;
  }
}
.u-size1of3, .u-size2of6, .u-size4of12 {
    width: 33.33333333333333%!important;
}

/* 左サイドバー */
.SidebarBookModules {
    float: left;
    width: 290px;
}

.wtf-module.has-content {
    display: block;
}
.wtf-module {
    display: none;
}
.module {
    background-clip: padding-box;
    border: 0;
    position: relative;
    margin-bottom: 10px;
}

.module ul:first-child li:first-child .list-link, .module .flex-module:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.module .flex-module {
    background-color: #fff;
    border: 1px solid #e6ecf0;
    padding: 15px;
    line-height: 16px;
}

.flex-module-inner, .flex-module-footer {
    color: #222222;
    font-size: 14px;
}

.book-title {
    font-size: 14px;
    margin-bottom: 5px;
}

.book-title, .book-sale-date {
    margin-bottom: 3px
}
.book-image {
    padding-top: 0 !important;
}
.BookImageItem-context > .content {
    text-align: center;
}
.amazon-book-image {
    width: 210px;
    height: 275px;
}
ul.authors {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.authors li {
    display: inline;
}
.author-name {
    width: auto !important;
}

.item {
    border-bottom: 1px solid #e6ecf0;
    padding: 10px 0;
}
.account-summary {
    position: relative;
    display: block;
    min-height: 48px;
}
b {
  margin: 1px;
}

.book-action-button {
    text-align: center;
}

/* メインコンテンツ */
@media (min-width: 1236px) {
  .BookCommentsModules {
    float: left;
    margin: 0 10px;
  }
}

.BookCommentsModules {
    width: 590px;
}
.comment-module {
  background-color: #fff;
    border: 1px solid #e6ecf0;
    padding: 10px;
    line-height: 16px;
}
.book-comment-content {
    border-bottom: 1px solid #e6ecf0;
    /* ↓コメント詳細を開けるようにしたら有効にする */
    /*cursor: pointer;*/
    margin: 5px;
    padding: 10px 0;
}
.comment-content {
    margin-left: 58px;
}
.comment-text, .comment-reaction {
    padding-top: 5px;
    white-space: pre-line;
    line-height: normal;
}
.avatar {
    float: left;
    position: absolute;
    width: 45px;
    height: 45px;
    margin-left: -58px;
    border-radius: 50%;
    -moz-force-broken-image-icon: 1;
}
.comment-user {
    float: left;
}
.user-name {
    font-weight: bold;
}
ul.comment-reactions {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.comment-reactions li {
    display: inline-block;
    margin-right: 10px;
}
ul.comment-reaction {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.comment-reaction li {
    display: inline-block;
    margin-right: 4px;
}
ul.comment-reaction li > span {
    color: #cccccc;
}
ul.comment-reaction li > span.comment-reaction-reply:hover {
    color: #337ab7;
    cursor: pointer;
}
ul.comment-reaction li > span.comment-reaction-heart:hover {
    color: #f08080;
    cursor: pointer;
}
ul.comment-reaction li > span.favorite-done {
    color: #f08080;
}
.no-comment-text {
  text-align: center;
}

