.page-outer {
}
a {
    color: #222222;
    text-decoration: none;
}
a:visited {
    color: #222222;
    text-decoration: none;
}
a:hover {
    color: #337ab7 !important;
    cursor: pointer;
}
.selected {
    color: #337ab7;
    font-weight: bold;
}

/* Smart Phone Web用のスタイル(画面サイズが480px以下の場合) */
@media screen and (min-width:0px) and (max-width: 480px) {
    .AppContainer {
        max-width: 480px;
    }
    .AppContent-main {
    }
    .ShelvesModules {
        width: 100%;
    }
    .book-title-data {
        display: none;
    }
    .shelf-book-info {
        font-size: 16px;
    }
    .shelf-info {
        width: 77%;
    }
}

/* Tablet用のスタイル(画面サイズが480~890px以上の場合) */
@media screen and (min-width:480px) and (max-width: 1024px) {
    .AppContainer {
        max-width: 1024px;
    }
    .shelf-book-info {
        font-size: 18px;
    }
    .shelf-info {
        width: 84%;
    }
}

/* PC用のスタイル(画面サイズが890px以上の場合) */
@media screen and (min-width: 1024px) {
    .AppContainer {
        max-width: 1024px;
    }
    .AppContent-main {
        margin: 15px auto 0;
        max-width: 1190px;
        min-width: 890px;
    }
    .ShelvesModules {
        width: 850px;
    }
    .shelf-book-info {
        font-size: 18px;
    }
    .shelf-info {
        width: 91%;
    }
}

/* メインコンテンツ */
@media screen and (min-width: 1236px) {
  .AppContainer {
    max-width: 1190px;
  }
}
.AppContainer {
    margin: 0 auto;
}

@media (min-width: 1236px) {
  .ShelvesModules {
    float: left;
    margin: auto;
  }
}
.ShelvesModules {
    position: unset;
    background-color: #fff;
    border: 1px solid #e6ecf0;
}
.shelf-module {
    background-color: #fff;
    padding: 10px;
    line-height: 16px;
}

ul.sort-condition {
    list-style: none;
    padding: 10px 0 15px 0 !important;
    border-bottom: 1px solid #e6ecf0;
}
ul.sort-condition > li {
    display: inline-block;
    padding-left: 15px !important;
}
.sort-condition-button:hover {
    cursor: pointer;
    color: #337ab7;
}

.shelf-books-content {
    border-bottom: 2px solid #e6ecf0;
    margin: 10px 0;
    padding: 10px 0;
}
.producer-info {
    vertical-align: top;
}
ul.shelf-basic-info {
    list-style: none;
    margin-bottom: 8px !important;
    padding-left: 0;
}
ul.shelf-basic-info li {
    display: inline-block;
    margin: 0 6px 0 0;
}
.profile-image {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: sub !important;
    margin: 0 5px;
}
ul.comment-reactions {
    list-style: none;
    margin: 7px 0;
    padding-left: 0;
}
ul.comment-reactions li {
    display: inline-block;
    margin-right: 10px;
}
ul.comment-reaction {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.comment-reaction li {
    display: inline-block;
    margin-right: 4px;
}
ul.comment-reaction li > span {
    color: #cccccc;
}
.comment-reaction-reply-link,.comment-reaction-reply-link:visited {
    color: #cccccc;
}
ul.comment-reaction li > span.comment-reaction-reply:hover {
    color: #337ab7;
    cursor: pointer;
}
ul.comment-reaction li > span.comment-reaction-heart:hover {
    color: #f08080;
    cursor: pointer;
}
ul.comment-reaction li > span.favorite-done {
    color: #f08080;
}

ul.book-list {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}
ul.book-list > li {
    vertical-align: top;
    display: inline-block;
}
.book-content {
    width: 20%;
}
.book-image {
    text-align: center;
    margin-bottom: 5px;
}
.amazon-book-image {
    border: 1px solid #e6ecf0;
    width: 88%;
}
ul.book-title-data {
    list-style: none;
    margin-bottom: 0 !important;
    padding: 5px;
}
ul.book-title-data li {
    margin: 2px 0;
}
.book-title {
    font-weight: bold;
    word-wrap: break-word;
}
ul.authors {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.authors li {
    display: inline;
}
.author-name {
    width: auto !important;
}
.sale-date {
    font-size: 12px;
    color: #657786 !important;
}

.no-book-text {
    padding: 10px;
    line-height: 16px;
}
