<div class="AppContainer">
  <div class="AppContent-main">
    <!-- メインメニュー -->
    <div class="PasswordReminderModules">
      <div class="content-module">
        <h3 class="password-reminder-title">パスワード再設定</h3>
        <!-- 初期画面 -->
        <div *ngIf="!sentMail" class="first-password-reminder-view">
          <div class="email-password-reminder">
            <form #f="ngForm" class="password-reminder-form" (ngSubmit)="sendPasswordReminder(f)">
              <div class="form-group">
                <label for="email">
                  <span>メールアドレス</span>
                </label>
                <input ngModel type="email" class="form-control" name="email" id="email" required minlength="4"
                       placeholder="例: engineers-core@example.com">
              </div>
              <button type="submit" class="btn btn-primary password-reminder-button">
                <b>パスワード再設定メールを送信</b>
              </button>
            </form>
          </div>
          <p class="signin-link"><a routerLink="/login/">ログインはこちら</a></p>
        </div>
        <!-- メールアドレス登録メール送信後画面 -->
        <div *ngIf="sentMail" class="sent-mail-message">
          <p><b>「{{emailAddress}}」宛にパスワード再設定メールを送信しました。</b></p>
          <p><b>メールに記載されたリンクをクリックし、パスワード変更を行ってください。</b></p>
          <br>
          <p>※メールが届かない場合は、迷惑メールボックスに入っていないか、</p>
          <p>またご自身のメールアカウントの受信設定をご確認ください。</p>
          <p>※複数回試してもメールが届かない場合は、お手数ですが<a href="#">こちら</a>からお問い合わせください。</p>
        </div>
        <div *ngIf="sentMailFailed" class="sent-mail-message">
          <p><b>「{{emailAddress}}」宛へのメール送信に失敗しました。</b></p>
          <p><b>入力したメールアドレスの形式が正しいことをご確認いただき、再度メールアドレスを入力してください。</b></p>
          <br>
          <p>※複数回試してもメールが届かない場合は、お手数ですが<a href="#">こちら</a>からお問い合わせください。</p>
        </div>
      </div>
    </div>
  </div>
</div>
