a {
    color: #222222;
    text-decoration: none;
}
a:visited {
    color: #222222;
    text-decoration: none;
}
a:hover {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}
ul {
    list-style: none;
    padding-left: 0;
}

/* Smart Phone Web用のスタイル(画面サイズが480px以下の場合) */
@media screen and (min-width:0px) and (max-width: 480px) {
    .AppContainer {
        max-width: 480px;
    }
    .AppContent-main {
    }
    .PasswordReminderModules {
        width: 100%;
        padding: 8px;
    }
    .password-reminder-form {
        margin: 20px 50px;
    }
}

/* Tablet用のスタイル(画面サイズが480~1240px以上の場合) */
@media screen and (min-width:480px) and (max-width: 1240px) {
    .AppContainer {
        max-width: 1240px;
    }
    .AppContent-main {
    }
    .PasswordReminderModules {
        width: 100%;
        padding: 10px;
    }
    .password-reminder-form {
        margin: 20px 30%;
    }
}

/* PC用のスタイル(画面サイズが1240px以上の場合) */
@media screen and (min-width: 1240px) {
    .AppContainer {
        max-width: 1190px;
        margin: 0 auto;
    }
    .AppContent-main {
        margin: 15px auto 0;
        min-width: 890px;
    }
    .PasswordReminderModules {
        padding: 30px;
    }
    .password-reminder-form {
        margin: 40px 30%;
    }
}

/* メインコンテンツ */
.PasswordReminderModules {
    background-color: #fff;
}
.password-reminder-title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
}
.first-password-reminder-view {
    text-align: center;
}
.form-group {
    text-align: left;
}
.form-control {
    color: #222222;
    border: 0 solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 0;
    box-shadow: none;
    transition: none;
}
.label {
    margin-bottom: 0;
}
.button {
    text-align: center;
}
.signin-link {
    text-align: center;
}

.sent-mail-message {
    text-align: center;
    margin: 30px 20px;
}
