<div class="page-outer" *ngIf="user">
  <!-- サブヘッダー(ユーザー名) -->
  <div class="UserNavigation">
    <a routerLink="/user/{{user.userAccountName}}">
      <div class="UserNavigation-canopy u-bgUserColor">
        <div class="UserNavigation-textContainer">
          <h1 class="UserNavigation-titleText" dir="ltr">
            {{user.userName}}(@{{user.userAccountName}})
          </h1>
        </div>
      </div>
    </a>
  </div>
  <!-- ナビゲーションメニュー -->
  <div class="MenuNavigation">
    <div class="MenuNavigation-canopy">
      <div class="MenuNavigation-textContainer">
        <div class="MenuNavigation-titleText" dir="ltr">
          <ul class="navigation-menu">
            <li>
              <ul class="read-books navigation">
                <div class="read-books-link link-items">
                  <li><span (click)="getBookComments()">読んだ本</span></li>
                  <li>{{bookCommentCount}}</li>
                </div>
              </ul>
            </li>
            <li>
              <ul class="interested-books navigation">
                <div class="interested-books-link link-items">
                  <li><span (click)="getInterestedBookComments()">読みたい本</span></li>
                  <li>{{interestedBookCount}}</li>
                </div>
              </ul>
            </li>
            <li>
              <ul class="favorite-comments navigation">
                <div class="favorite-comments-link link-items">
                  <li><span (click)="getFavoriteBookComments()">いいね</span></li>
                  <li>{{favoriteCommentCount}}</li>
                </div>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="AppContainer">
    <div class="AppContent-main u-cf">
      <!-- 左サイドバー(本の情報) -->
      <div class="SidebarUserModules">
        <!-- ユーザーの情報 -->
        <div class="module user">
          <div class="flex-module">
            <div class="js-user-detail dashboard-user-detail flex-module-inner" data-section-id="wtf"
                 style="opacity: 1;">
              <div class="user-image item">
                <div class="UserImageItem-context">
                  <div class="content">
                    <a routerLink="/user/{{user.userAccountName}}">
                      <div *ngIf="user.profileImageLink !== null" class="user-profile-icon">
                        <img class="profile-image" src="../../assets/image/profile/{{user.profileImageLink}}" alt=""/>
                      </div>
                      <div *ngIf="user.profileImageLink === null" class="user-profile-icon">
                        <img class="profile-image" src="../../assets/image/profile/default_profile_image.png" alt=""/>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="user-basic-info item">
                <div class="UserBasicInfoItem-context">
                  <div class="content">
                    <div class="user-info-text user-name">
                      <a routerLink="/user/{{user.userAccountName}}">
                        <strong><b>{{user.userName}}</b></strong>
                      </a>
                    </div>
                    <div class="user-info-text user-account-name">
                      <a routerLink="/user/{{user.userAccountName}}">
                        <span>@{{user.userAccountName}}</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="user-detail-info item">
                <div class="UserDetailInfoItem-context">
                  <div class="content">
                    <div class="user-info-text description">
                      <span>{{user.description}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- メインメニュー(読んだコメント) -->
      <div class="ReadBookModules">
        <!-- 本の情報 -->
        <div class="module bookComments">
          <div *ngIf="bookCommentCount > 0" class="comment-module">
            <div *ngFor="let comment of bookComments; let i = index" class="js-book-comments book-comment-content flex-module-inner"
                 data-section-id="wtf" style="opacity: 1;">
              <!-- 本の情報 -->
              <div class="book-info">
                <div class="BookCommentItem-context">
                  <!-- 本の基本情報 -->
                  <div class="context">
                    <div class="book-content">
                      <div class="book-image">
                        <a class="amazon-book-detail" href="https://www.amazon.co.jp/dp/{{comment.book.amazon_book[0].data_asin}}/"
                           target="_blank">
                          <img class="amazon-book-image" border="0"
                               src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN={{comment.book.amazon_book[0].data_asin}}&Format=_SL500_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&language=ja_JP"></a><img
                        src="https://ir-jp.amazon-adsystem.com/e/ir?language=ja_JP&l=li3&o=9&a={{comment.book.amazon_book[0].data_asin}}"
                        width="1"
                        height="1" border="0" alt="" style="border:none !important; margin:0 !important;"/>
                      </div>
                      <div class="book-title">
                        <ul class="book-title-data">
                          <a routerLink="/book/{{comment.book.id}}">
                            <li><b>{{comment.book.title}}</b></li>
                          </a>
                          <li>{{comment.book.sale_date | date:"yyyy年M月d日" }} 発売</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 読んだコメントしたユーザーの情報 -->
              <div class="book-comment">
                <div class="BookCommentItem-context">
                  <!-- いいねしたユーザーの情報など -->
                  <div class="context">
                    <div class="comment-content">
                      <div class="comment-user">
                        <a routerLink="/user/{{comment.user.account_name}}">
                          <div class="comment-user">
                            <div *ngIf="comment.user.profile_image_link !== null" class="user-icon">
                              <img class="avatar" src="../../assets/image/profile/{{comment.user.profile_image_link}}"
                                   alt=""/>
                            </div>
                            <div *ngIf="comment.user.profile_image_link === null" class="user-icon">
                              <img class="avatar" src="../../assets/image/profile/default_profile_image.png" alt=""/>
                            </div>
                            <div class="user-name">
                              {{comment.user.user_name}}(@{{comment.user.account_name}})
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="comment-date">
                        ・{{comment.comment_date | date:"yyyy年M月d日" }}
                      </div>
                      <div class="comment-text pre-wrap">
                        {{comment.comment_text}}
                      </div>
                      <div class="comment-reaction">
                        <ul class="comment-reactions">
                          <li>
                            <ul class="comment-replies comment-reaction">
                              <li>
                              <span class="comment-reaction-reply">
                                <fa-icon [icon]="faCommentDots"></fa-icon>
                              </span>
                              </li>
                              <li>{{comment.reply_ids.length}}</li>
                            </ul>
                          </li>
                          <li>
                            <ul class="comment-favorites comment-reaction">
                              <li *ngIf="comment.favorite_users.indexOf(appComponent.userId) >= 0">
                                <span class="comment-reaction-heart favorite-done"
                                      (click)="notCommentFavorite(comment.id, i)"><fa-icon
                                  [icon]="faHeart"></fa-icon></span>
                              </li>
                              <li *ngIf="comment.favorite_users.indexOf(appComponent.userId) == -1">
                              <span class="comment-reaction-heart favorite-none" (click)="commentFavorite(comment.id, i)">
                                <fa-icon [icon]="faHeart"></fa-icon>
                              </span>
                              </li>
                              <li>{{comment.favorite_users.length}}</li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="bookCommentCount === 0" class="comment-module">
            <div class="no-comment-text">
              <span>検索結果がありませんでした。</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 右サイドバー -->

  </div>
</div>

