<div class="AppContainer">
  <div class="AppContent-main u-cf">
    <!-- メインメニュー -->
    <div class="SigninModules">
      <ul class="content-module">
        <p class="signin-title">ログイン</p>
        <li class="service-signin">
          <div class="twitter-signin">
            <button class="btn btn-default service-signin-button"><b>Twitterでログインする</b></button>
          </div>
          <div class="google-signin">
<!--            <button class="btn btn-default service-signin-button" (click)="signInWithGoogle()"><b>Googleでログインする</b></button>-->
            <button class="btn btn-default service-signin-button"><b>Googleでログインする</b></button>
          </div>
          <div class="github-signin">
            <button class="btn btn-default service-signin-button"><b>Githubでログインする</b></button>
          </div>
        </li>
        <li class="email-signin">
          <form #f="ngForm" class="signin-form" (ngSubmit)="signIn(f)">
            <div class="form-group">
              <label for="account-name">
                <span>アカウント名</span>
              </label>
              <input ngModel type="text" class="form-control" name="accountName" id="account-name" required placeholder="例: virtual_texhX" maxlength="255">
              <label for="password">
                <span>パスワード</span>
              </label>
              <input ngModel type="password" class="form-control" name="password" id="password" required maxlength="255">
            </div>
            <button type="submit" class="btn btn-primary signin-button">
              <b>ログイン</b>
            </button>
          </form>
        </li>
        <p class="signup-link"><a routerLink="/signup/">新規登録はこちら</a></p>
        <p class="password-reminder-link"><a routerLink="/password/reminder/">パスワードを忘れた場合はこちら</a></p>
      </ul>
    </div>
  </div>
</div>
