a {
    color: #222222;
    text-decoration: none;
}
a:visited {
    color: #222222;
    text-decoration: none;
}
a:hover {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}
ul {
    list-style: none;
    padding-left: 0;
}

/* Smart Phone Web用のスタイル(画面サイズが480px以下の場合) */
@media screen and (min-width:0px) and (max-width: 480px) {
    .AppContainer {
        max-width: 480px;
    }
    .AppContent-main {
    }
    .SigninModules {
        width: 100%;
        padding: 8px;
    }
    .btn-default {
        width: 210px;
    }
    .service-signin-button {
        margin: 5px;
    }
    .signin-form {
        margin: 20px 50px;
    }
}

/* Tablet用のスタイル(画面サイズが480~1240px以上の場合) */
@media screen and (min-width:480px) and (max-width: 1240px) {
    .AppContainer {
        max-width: 1240px;
    }
    .AppContent-main {
    }
    .SigninModules {
        width: 100%;
        padding: 10px;
    }
    .btn-default {
        width: 250px;
    }
    .signin-form {
        margin: 20px 30%;
    }
    .service-signin-button {
        margin: 10px;
    }
}

/* PC用のスタイル(画面サイズが1240px以上の場合) */
@media screen and (min-width: 1240px) {
    .AppContainer {
        max-width: 1190px;
        margin: 0 auto;
    }
    .AppContent-main {
        margin: 15px auto 0;
        min-width: 890px;
    }
    .SigninModules {
        padding: 30px;
    }
    ul.content-module > li {
        display: inline-block;
    }
    .service-signin {
        width: 45%;
        vertical-align: top;
    }
    .signin-form {
        width: 90%;
        margin: 10px;
    }
    .btn-default {
        width: 300px;
    }
    .service-signin-button {
        margin: 10px;
    }
    .email-signin {
        width: 45%;
    }
}

/* メインコンテンツ */
.SigninModules {
    background-color: #fff;
}

.signin-title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
}

ul.content-module {
    text-align: center;
}
.service-signin {
    text-align: center;
}
.btn-default {
    height: 50px;
    font-size: 16px;
}
.twitter-signin > button {
    color: #fff;
    background-color: #55ACEE;
    border-color: #55ACEE;
}
.github-signin > button {
    color: #fff;
    background-color: #24292e;
    border-color: #24292e;
}
.google-signin > button {
    background-color: #fff;
    border-color: #ddd;
    color: #333;
}
.signin-button {
    padding: 12px 18px;
    font-size: 16px;
}

.form-group {
    text-align: left;
}
.form-control {
    color: #222222;
    border: 0 solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 0;
    box-shadow: none;
    transition: none;
}
.label {
    margin-bottom: 0;
}
.button {
    text-align: center;
}
.signup-link, .password-reminder-link {
    text-align: center;
    margin: 20px 0 0;
}
