a {
    color: #222222;
    text-decoration: none;
}
a:visited {
    color: #222222;
    text-decoration: none;
}
a:hover {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}
ul {
    list-style: none;
    padding-left: 0;
}

/* Smart Phone Web用のスタイル(画面サイズが480px以下の場合) */
@media screen and (min-width:0px) and (max-width: 480px) {
    .AppContainer {
        max-width: 480px;
    }
    .AppContent-main {
    }
    .ShelfBooksModules, .SidebarBookModules {
        width: 100%;
        padding: 8px;
    }
    .shelf-title {
        font-size: 18px;
    }
    .book-content {
        width: 95%;
        margin: 10px 0;
    }
    .remove-navigation {
        width: 90%;
        height: 120px;
    }
    .remove-text {
	      transform: translateY(210%);
    }
    .book-image {
        float: left;
        width: 30%;
        margin-left: 10px;
    }
    ul.book-title-data {
        padding-left: 37%;
    }
    .sub-book-info {
        width: 65%;
    }
    .add-navigation {
        width: 90%;
        height: 120px;
    }
    .add-navigation-text {
	      transform: translateY(210%);
    }
    ul.context > li {
        display: inline-block;
    }
    .sub-book-content {
        border-bottom: 1px solid #e6ecf0;
    }
}

/* Tablet用のスタイル(画面サイズが480~1240px以上の場合) */
@media screen and (min-width:480px) and (max-width: 1240px) {
    .AppContainer {
        max-width: 1240px;
    }
    .AppContent-main {
    }
    .ShelfBooksModules, .SidebarBookModules {
        width: 100%;
        padding: 10px;
    }
    .shelf-title {
        font-size: 20px;
    }
    .book-content {
        width: 20%;
        padding: 8px;
    }
    .remove-navigation {
        width: 18%;
        height: 220px;
    }
    .remove-text {
	      transform: translateY(450%);
    }
    .sub-book-content {
        width: 17%;
    }
    .add-navigation {
        width: 18%;
        height: 220px;
    }
    .add-navigation-text {
        transform: translateY(450%);
    }
    ul.context > li {
        display: table-cell;
    }
}

/* PC用のスタイル(画面サイズが1240px以上の場合) */
@media screen and (min-width: 1240px) {
    .AppContainer {
        max-width: 1024px;
    }
    .AppContent-main {
        margin: 15px auto 0;
        min-width: 890px;
    }
    .ShelfBooksModules {
        width: 850px;
        padding: 15px;
    }
    .shelf-title {
        font-size: 22px;
    }
    .book-content {
        width: 20%;
        padding: 8px;
    }
    .remove-navigation {
        width: 10.5%;
        height: 250px;
    }
    .remove-text {
	      transform: translateY(550%);
    }
    .SidebarBookModules {
        float: left;
        margin: 0 10px;
        width: 290px;
    }
    .add-navigation {
        width: 19%;
        height: 115px;
    }
    .add-navigation-text {
        transform: translateY(220%);
    }
    ul.context > li {
        display: table-cell;
    }
    .search-book-image {
        float: left;
        width: 30%;
    }
    ul.search-book-title-data {
        padding-left: 33%;
    }
}

/* メインコンテンツ */
@media screen and (min-width: 1236px) {
  .AppContainer {
    max-width: 1190px;
  }
}
.AppContainer {
    margin: 0 auto;
}
@media (min-width: 1236px) {
  .ShelfBooksModules {
    float: left;
    margin: auto;
  }
}
.ShelfBooksModules {
    position: unset;
    background-color: #fff;
    border: 1px solid #e6ecf0;
}

/* 本棚名ナビ */
.shelf-title-area {
    width: 90%;
    margin: 20px;
}
.shelf-title {
    word-break: break-all;
}

/* 本棚の基本情報 */
.shelf-menu {
    float: right;
    margin: 20px;
}
.dropdown-menu {
    top: 18px;
    left: -140px;
}
ul.shelf-data {
    margin: 20px;
    padding: 0;
}
ul.shelf-data li {
    margin-right: 10px;
}
.user-profile-icon {
    position: absolute;
}
.profile-image {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: text-top;
}
ul.producer-name-space {
    margin-bottom: 0;
    padding: 5px 0 0 50px;
}
ul.producer-name-space li {
    margin-right: 4px;
}
.producer-name {
    font-weight: bold;
}
.producer-name, .producer-account-name {
    margin-top: 0;
    font-size: 14px;
}
.account-name {
    color: #657786;
}
.shelf-description {
    margin: 10px 20px;
}
.shelf-description-text {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 1px;
}
ul.space-for-description {
    margin: 0 20px 20px;
}

.shelf-books {
    margin: 30px 0;
}
ul.book-list {
    margin: 10px 0;
    padding: 0;
}
ul.book-list > li {
    vertical-align: top;
    display: inline-block;
}
.book-content {
    font-size: 12px;
}
.book-image {
    text-align: center;
    margin-bottom: 5px;
}
.amazon-book-image {
    border: 1px solid #e6ecf0;
    width: 88%;
}
ul.book-title-data {
    margin-bottom: 0;
}
ul.book-title-data li {
    margin: 4px 0;
}
.book-title {
    font-weight: bold;
    word-wrap: break-word;
}
ul.authors {
    margin-bottom: 0;
}
ul.authors li {
    display: inline;
}
.author-name {
    width: auto;
}
.sale-date {
    font-size: 12px;
    color: #657786;
}

.no-book-text {
    margin: 20px;
    line-height: 16px;
    text-align: center;
}

.form-control {
    border: 0 solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 0;
    margin: 0 0 20px 0;
    box-shadow: none;
    transition: none;
}
.remove-navigation {
    opacity: 0;
    position: absolute;
    border-radius: 5px;
    font-size: 16px;
    background-color: #222222;
    color: #ffffff;
    font-weight: bold;
}
.remove-navigation:hover {
    opacity: 0.7;
    cursor: pointer;
}
.remove-text {
    text-align: center;
}
.add-book {
    text-align: center;
}
.add-book-button {
    height: 165px;
    border-radius: 0;
    background-color: #cccccc;
    border: 0 solid #e6ecf0;
}
.add-book-button:hover {
    background-color: #337ab7;
}
.action-button {
    text-align: center;
}
.update-button, .delete-button {
    border-radius: 0;
}

/* 右サイドバー */
.SidebarBookModules {
    background-color: white;
    padding-bottom: 20px;
}
.flex-module-header {
    margin: 15px;
}
.search-form {
    margin: 8px;
}
.sub-book-content {
    font-size: 12px;
    margin: 0 10px;
    padding: 10px 0 10px 0;
}
ul.sub-book-list {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}
ul.sub-book-list > li {
    vertical-align: top;
    display: inline-block;
}
.add-navigation {
    opacity: 0;
    position: absolute;
    border-radius: 5px;
    font-size: 16px;
    background-color: #222222;
    color: #ffffff;
    font-weight: bold;
}
.add-navigation:hover {
    opacity: 0.7;
    cursor: pointer;
}
.add-navigation-text {
    text-align: center;
}
.disabled-area:hover {
    cursor: not-allowed;
}
ul.context {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
li.sub-book-info {
    padding-left: 8px;
    vertical-align: top;
}
.min-amazon-book-image {
    width: 80px;
    height: 115px;
    border: 1px solid #e6ecf0;
}
