<div *ngIf="notFound">
  <app-page-not-found></app-page-not-found>
</div>

<div class="page-outer" *ngIf="!notFound">
  <!-- 本棚名 -->
  <div class="ShelfNameNavigation hide-area">
    <div class="ShelfNameNavigation-canopy u-bgUserColor">
      <div class="ShelfNameNavigation-textContainer">
        <h1 class="ShelfNameNavigationText" dir="ltr">
          <span class="comment-reaction-reply"><fa-icon
            [icon]="faBookReader"></fa-icon></span> {{shelf.shelfName}}
        </h1>
      </div>
    </div>
  </div>
  <!-- 本棚の基本情報 -->
  <div class="ShelfNavigation hide-area">
    <div class="ShelfNavigation-canopy">
      <div class="ShelfNavigation-textContainer">
        <div class="ShelfNavigation-titleText" dir="ltr">
          <ul class="shelf-data">
            <li class="shelf-producer-image">
              <div *ngIf="shelf.user.profileImageLink !== null && shelf.user.profileImageLink !== undefined"
                   class="user-profile-icon">
                <img class="profile-image" src="../../assets/image/profile/{{shelf.user.profileImageLink}}" alt=""/>
              </div>
              <div *ngIf="shelf.user.profileImageLink === null" class="user-profile-icon">
                <img class="profile-image" src="../../../assets/image/profile/default_profile_image.png" alt=""/>
              </div>
            </li>
            <li>
              <ul class="producer-name-space">
                <li class="producer-name">{{shelf.user.userName}}</li>
                <li class="producer-account-name">@{{shelf.user.userAccountName}}</li>
              </ul>
            </li>
          </ul>
          <div class="shelf-description">
            <div class="shelf-description-text">{{shelf.description}}</div>
          </div>
        </div>
        <div class="comment-reaction">
          <ul class="comment-reactions space-for-description">
            <li>
              <ul class="comment-replies comment-reaction">
                <li><span class="comment-reaction-reply"><fa-icon [icon]="faCommentDots"></fa-icon></span></li>
                <li>{{shelfCommentCount}}</li>
              </ul>
            </li>
            <li>
              <ul class="comment-favorites comment-reaction">
                <li *ngIf="shelf.favoriteUserIds.indexOf(appComponent.userId) >= 0">
                    <span class="comment-reaction-heart favorite-done">
                      <fa-icon [icon]="faHeart"></fa-icon>
                    </span>
                </li>
                <li *ngIf="shelf.favoriteUserIds.indexOf(appComponent.userId) == -1">
                    <span class="comment-reaction-heart favorite-none">
                      <fa-icon [icon]="faHeart"></fa-icon>
                    </span>
                </li>
                <li>{{shelf.favoriteUserCount}}</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="AppContainer">
    <div class="AppContent-main u-cf">
      <!-- メインメニュー(本棚の本) -->
      <div class="ShelfBooksModules">
        <!-- 本の情報 -->
        <div class="module shelf-books">
          <form #form="ngForm" class="update-form" (ngSubmit)="updateShelf(form, shelf.shelfId, shelf.books)">
            <div class="form-group">
              <label for="shelfName"><span>本棚のタイトル</span></label>
              <input [(ngModel)]="shelf.shelfName" type="text" class="form-control" name="shelfName" id="shelfName"
                     required minlength="4">
              <label for="description"><span>本棚の説明</span></label>
              <textarea [(ngModel)]="shelf.description" class="form-control" name="description" id="description"
                        required minlength="1"></textarea>
            </div>
            <div class="shelf-book-module" *ngIf="shelfBookCount > 0">
              <ul class="book-list">
                <li *ngFor="let book of shelf.books; let i = index"
                    class="book-content flex-module-inner registered-book">
                  <!-- 本の情報 -->
                  <div class="remove-navigation" (click)="removeBook(i)">
                    本棚から取り除く
                  </div>
                  <div class="context">
                    <div class="book-image">
                      <img class="amazon-book-image"
                           src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN={{book.amazonBook.dataAsin}}&Format=_SL500_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&language=ja_JP"
                           alt="画像が見つかりませんでした。" onerror="this.src='../../../assets/image/book/book_default_image.png';">
                    </div>
                    <ul class="book-title-data">
                      <li class="book-title">{{book.title | slice: 0 :40}}</li>
                      <li class="sale-date">{{book.saleDate | date:"yyyy年M月d日"}}</li>
                      <ul class="authors">
                        <li *ngFor="let author of book.authors; let i = index" class="author_name">
                          <span *ngIf="i === 0">{{author.authorName}}</span>
                          <span *ngIf="i > 0">, {{author.authorName}}</span>
                        </li>
                      </ul>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div *ngIf="shelfBookCount === 0" class="shelf-books">
              <div class="no-book-text">
                <p><b>まだ本棚に本が登録されていません。</b></p>
                <p><b>右メニューの「本棚に本を追加する」から本を追加できます。</b></p>
              </div>
            </div>
            <div class="action-button">
              <button type="submit" class="btn btn-primary update-button"><b>本棚を更新して公開する</b></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- 右サイドバー(本の追加) -->
  <div class="SidebarBookModules">
    <div class="flex-module popular-book">
      <div class="flex-module-header"><strong>本棚に追加する本を検索</strong></div>
      <div class="flex-module-inner">
        <!-- 検索フォーム -->
        <div class="search-form">
          <nav>
            <form #f="ngForm" (ngSubmit)="search(f)" novalidate>
              <div class="form-group search-form">
                <input class="form-control" type="text" name="query" id="search-query" ngModel placeholder="本のタイトルで検索する...">
              </div>
            </form>
          </nav>
        </div>
        <!-- 検索結果の本一覧 -->
        <div class="module books">
          <ul class="sub-book-list">
            <li *ngFor="let book of searchedBooks" class="sub-book-content flex-module-inner">
              <div *ngIf="shelf.books.indexOf(book) < 0 && shelfBookCount < 20" class="add-navigation" (click)="addBook(book)">
                <p >本棚に追加する</p>
              </div>
              <div *ngIf="shelf.books.indexOf(book) >= 0 && shelfBookCount < 20" class="add-navigation disabled-area">
                <p >本棚に追加済み</p>
              </div>
              <div *ngIf="shelfBookCount >= 20" class="add-navigation disabled-area">
                <p >本棚は20冊まで</p>
              </div>
              <ul class="context">
                <li class="book-image">
                      <img class="min-amazon-book-image"
                           src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN={{book.amazonBook.dataAsin}}&Format=_SL500_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&language=ja_JP"
                           alt="画像が見つかりませんでした。" onerror="this.src='../../../assets/image/book/book_default_image.png';">
                    </li>
                <li class="sub-book-info">
                  <ul class="book-title-data">
                    <li class="book-title">{{book.title | slice: 0 :40}}</li>
                    <li class="sale-date">{{book.saleDate | date:"yyyy年M月d日"}}</li>
                    <ul class="authors">
                      <li *ngFor="let author of book.authors; let i = index" class="author_name">
                        <span *ngIf="i === 0">{{author.authorName}}</span>
                        <span *ngIf="i > 0">, {{author.authorName}}</span>
                      </li>
                    </ul>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
