<div class="page-outer">
  <!-- 検索クエリ -->
  <div class="SearchNavigation">
    <div class="SearchNavigation-canopy u-bgUserColor">
      <div class="SearchNavigation-textContainer">
        <h1 class="SearchNavigation-titleText" dir="ltr">
          <form #f="ngForm" (ngSubmit)="search(f)" novalidate>
            <ul class="search-form">
              <li>
                <div class="form-group"><input type="text" name="query" ngModel required></div>
              </li>
              <li class="search-button">
                <button type="submit" class="btn btn-primary"><strong><b>検索</b></strong></button>
              </li>
            </ul>
          </form>
        </h1>
      </div>
    </div>
  </div>

  <div class="AppContainer">
    <div class="AppContent-main u-cf">
      <!-- 左サイドバー(本の情報) -->
      <div class="SidebarBookModules">
        <!-- よく売れている本の情報 -->
        <div class="module selling-well-book">
          <div class="flex-module">
            <div class="flex-module-header">
              <strong>よく読まれている技術書</strong>
            </div>
            <div class="js-book-detail dashboard-book-detail flex-module-inner" data-section-id="wtf"
                 style="opacity: 1;">
            </div>
          </div>
        </div>
        <!-- 新着本の情報 -->
        <div class="module new-book">
          <div class="flex-module">
            <div class="flex-module-header">
              <strong>新着の技術書</strong>
            </div>
            <div class="js-book-detail dashboard-book-detail flex-module-inner" data-section-id="wtf"
                 style="opacity: 1;">
            </div>
          </div>
        </div>
      </div>

      <!-- メインメニュー(検索結果) -->
      <div class="SearchModules">
        <!-- 本の情報 -->
        <div class="module bookComments">
          <div *ngIf="bookCommentCount > 0" class="comment-module">
            <div *ngFor="let comment of bookComments" class="js-book-comments book-comment-content flex-module-inner"
                 data-section-id="wtf" style="opacity: 1;">
              <!-- 本の情報 -->
              <div class="book-info">
                <div class="BookCommentItem-context">
                  <!-- 本の基本情報 -->
                  <div class="context">
                    <div class="book-content">
                      <div class="book-image">
                        <a class="amazon-book-detail" href="https://www.amazon.co.jp/dp/{{comment.book.amazon_book}}/"
                           target="_blank">
                          <img border="0"
                               src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN={{comment.book.amazon_book}}&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&language=ja_JP"></a><img
                        src="https://ir-jp.amazon-adsystem.com/e/ir?language=ja_JP&l=li3&o=9&a={{comment.book.amazon_book}}"
                        width="1"
                        height="1" border="0" alt="" style="border:none !important; margin:0 !important;"/>
                      </div>
                      <div class="book-title">
                        <ul class="book-title-data">
                          <a routerLink="/book/{{comment.book.id}}">
                            <li><b>{{comment.book.title}}</b></li>
                          </a>
                          <li>{{comment.book.sale_date}} 発売</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 読んだコメントしたユーザーの情報 -->
              <div class="book-comment">
                <div class="BookCommentItem-context">
                  <!-- いいねしたユーザーの情報など -->
                  <div class="context">
                    <div class="comment-content">
                      <div class="comment-user">
                        <a routerLink="/user/{{comment.user.account_name}}">
                          <div class="comment-user">
                            <div *ngIf="comment.user.profile_image_link !== null" class="user-icon">
                              <img class="avatar" src="../../assets/image/profile/{{comment.user.profile_image_link}}"
                                   alt=""/>
                            </div>
                            <div *ngIf="comment.user.profile_image_link === null" class="user-icon">
                              <img class="avatar" src="../../assets/image/profile/default_profile_image.png" alt=""/>
                            </div>
                            <div class="user-name">
                              {{comment.user.user_name}}(@{{comment.user.account_name}})
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="comment-date">
                        ・{{comment.comment_date | date:"yyyy年M月d日" }}
                      </div>
                      <div class="comment-text pre-wrap">
                        {{comment.comment_text}}
                      </div>
                      <div class="comment-reaction">
                        <ul class="comment-reactions">
                          <li>
                            <ul class="comment-replies comment-reaction">
                              <li>
                                <a class="comment-reaction-reply" href="">
                                  <fa-icon [icon]="faCommentDots"></fa-icon>
                                </a>
                              </li>
                              <li>3</li>
                            </ul>
                          </li>
                          <li>
                            <ul class="comment-favorites comment-reaction">
                              <li>
                                <a class="comment-reaction-heart" href="">
                                  <fa-icon [icon]="faHeart"></fa-icon>
                                </a>
                              </li>
                              <li>3</li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="bookCommentCount === 0" class="comment-module">
            <div class="no-comment-text">
              <span>検索結果がありませんでした。</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 右サイドバー -->

  </div>
</div>
