.page-outer {
}

a {
    color: #222222;
    text-decoration: none;
}
a:visited {
    color: #222222;
    text-decoration: none;
}

/* 検索タイトルナビ */
SearchNavigation {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 46px;
}
.u-bgUserColor, .u-bgUserColorHover:hover, .u-bgUserColorHover:focus {
    background-color: #91D2FA !important;
}
.SearchNavigation-canopy {
    background-color: #1da1f2;
    padding: 14px 0;
}
.SearchNavigation-textContainer {
    margin: 0 auto;
    max-width: 1190px;
}
.SearchNavigation-titleText {
    color: #fff;
    font-weight: bold;
    overflow: hidden;
    padding-left: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
h1 {
    font-size: 24px;
    line-height: .8;
    text-rendering: optimizeLegibility;
    margin: 0;
}

/* メインコンテンツ */
@media screen and (min-width: 1236px) {
  .AppContainer {
    max-width: 1190px;
  }
}
.AppContainer {
    margin: 70px auto;
}
.AppContent-main {
    margin: 15px auto 0;
    max-width: 1190px;
    min-width: 890px;
}
.Grid--withGutter {
    margin: 0 -5px;
}
.Grid {
    display: block;
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: left;
}

.Grid--withGutter>.Grid-cell {
    padding: 0 5px;
}
.Grid-cell {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: top;
    width: 100%;
}
@media screen and (min-width: 1236px) {
  .u-lg-size1of4, .u-lg-size2of8, .u-lg-size3of12 {
    width: 25%!important;
  }
}
.u-size1of3, .u-size2of6, .u-size4of12 {
    width: 33.33333333333333%!important;
}

/* サブヘッダー */
ul.search-form {
    list-style: none;
    margin-bottom: 0 !important;
}
ul.search-form li {
    display: inline-block;
    text-align: center;
}
.form-group {
    color: #222222 !important;
    margin-bottom: 0;
    margin-right: 10px;
}
.search-button {
    transform: translateY(-10%);
}

/* 左サイドバー */
.SidebarBookModules {
    float: left;
    width: 290px;
}

.wtf-module.has-content {
    display: block;
}
.wtf-module {
    display: none;
}
.module {
    background-clip: padding-box;
    border: 0;
    position: relative;
    margin-bottom: 10px;
}

.module ul:first-child li:first-child .list-link, .module .flex-module:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.module .flex-module {
    background-color: #fff;
    border: 1px solid #e6ecf0;
    padding: 15px;
    line-height: 16px;
}

.flex-module-inner, .flex-module-footer {
    color: #222222;
    font-size: 14px;
}


.item {
    border-bottom: 1px solid #e6ecf0;
    padding: 10px 0;
}
.account-summary {
    position: relative;
    display: block;
    min-height: 48px;
}
b {
  margin: 1px;
}

.book-action-button {
    text-align: center;
}

/* メインコンテンツ */
@media (min-width: 1236px) {
  .SearchModules {
    float: left;
    margin: 0 10px;
  }
}

.SearchModules {
    width: 800px;
}
.book-info {
    width: 25%;
    margin: 0 8px;
    display: inline-block;
}
.book-image {
    text-align: center;
}
.book-comment {
    display: inline-block;
    vertical-align: top;
    width: 68%;
    margin: 10px;
}
.comment-module {
  background-color: #fff;
    border: 1px solid #e6ecf0;
    padding: 10px;
    line-height: 16px;
}
.book-comment-content {
    border-bottom: 1px solid #e6ecf0;
    /* ↓コメント詳細を開けるようにしたら有効にする */
    /*cursor: pointer;*/
    margin: 5px;
    padding: 10px 0;
}
ul.book-title-data {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.book-title-data li {
    margin: 3px 0;
}
.book-title {
    margin: 8px 0;
}
ul.book-title-data > a:hover {
    color: #91D2FA !important;
}
.space-dot {
    color: #ffffff !important;
}
.comment-content {
    margin-left: 58px;
}
.comment-text, .comment-reaction {
    padding-top: 5px;
    white-space: pre-line;
    line-height: normal;
}
.avatar {
    float: left;
    position: absolute;
    width: 45px;
    height: 45px;
    margin-left: -58px;
    border-radius: 50%;
    -moz-force-broken-image-icon: 1;
}
.comment-user > a:hover {
    color: #91D2FA !important;
}
.comment-user {
    float: left;
}
.user-name {
    font-weight: bold;
}
ul.comment-reactions {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.comment-reactions li {
    display: inline-block;
    margin-right: 10px;
}
ul.comment-reaction {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.comment-reaction li {
    display: inline-block;
    margin-right: 4px;
}
ul.comment-reaction li > span {
    color: #cccccc;
}
ul.comment-reaction li > span.comment-reaction-reply:hover {
    color: #1da1f2;
    cursor: pointer;
}
ul.comment-reaction li > span.comment-reaction-heart:hover {
    color: #f08080;
    cursor: pointer;
}
ul.comment-reaction li > span.favorite-done {
    color: #f08080;
}
.no-comment-text {
    text-align: center;
}
