<div class="page-outer" *ngIf="pageFound">
  <!-- サブヘッダー(ユーザー名) -->
  <div class="UserNavigation">
    <div class="UserNavigation-canopy u-bgUserColor">
      <div class="UserNavigation-textContainer">
        <h1 class="UserNavigation-titleText" dir="ltr">
          <span class="user-account-name-navigation"><fa-icon
            [icon]="faUser"></fa-icon></span> {{user.userName}} @{{user.userAccountName}}
        </h1>
      </div>
    </div>
  </div>
  <!-- ナビゲーションメニュー -->
  <div class="MenuNavigation">
    <div class="MenuNavigation-canopy">
      <div class="MenuNavigation-textContainer">
        <div class="MenuNavigation-titleText" dir="ltr">
          <ul class="navigation-menu">
            <li [class]="shelfSelected">
              <ul class="shelfs navigation" (click)="getShelves()">
                <div class="shelfs-link link-items">
                  <li><span class="shelfs-icon icon">本棚 <fa-icon [icon]="faBookReader"></fa-icon></span></li>
                  <li>{{shelfCount}}</li>
                </div>
              </ul>
            </li>
            <li [class]="readBookSelected">
              <ul class="read-books navigation" (click)="getReadBookComments()">
                <div class="read-books-link link-items">
                  <li><span class="read-books-icon icon">読んだ <fa-icon [icon]="faBook"></fa-icon></span></li>
                  <li>{{bookCommentCount}}</li>
                </div>
              </ul>
            </li>
            <li [class]="interestedBookSelected">
              <ul class="interested-books navigation" (click)="getInterestedBooks()">
                <div class="interested-books-link link-items">
                  <li><span class="interested-books-icon icon">読みたい <fa-icon [icon]="faBook"></fa-icon></span></li>
                  <li>{{interestedBookCount}}</li>
                </div>
              </ul>
            </li>
            <li [class]="favoriteCommentSelected">
              <ul class="favorite-comments navigation" (click)="getFavoriteBookComments()">
                <div class="favorite-comments-link link-items">
                  <li><span class="favorite-comments-icon icon">いいね <fa-icon [icon]="faCommentDots"></fa-icon></span>
                  </li>
                  <li>{{favoriteCommentCount}}</li>
                </div>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="AppContainer">
    <div class="AppContent-main u-cf">
      <!-- 左サイドバー(本の情報) -->
      <div class="SidebarUserModules">
        <!-- ユーザーの情報 -->
        <div class="module user">
          <div class="flex-module">
            <div class="js-user-detail dashboard-user-detail flex-module-inner" data-section-id="wtf"
                 style="opacity: 1;">
              <div class="user-image item">
                <div class="UserImageItem-context">
                  <div class="content">
                    <a routerLink="/user/{{user.userAccountName}}">
                      <div *ngIf="user.profileImageLink !== null" class="user-profile-icon">
                        <img class="profile-image" src="{{user.profileImageLink}}" alt=""/>
                      </div>
                      <div *ngIf="user.profileImageLink === null" class="user-profile-icon">
                        <img class="profile-image" src="https://storage.cloud.google.com/test-packet-engineerscore/image/profile/default_profile_image.png"
                             alt=""/>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="user-basic-info item">
                <div class="UserBasicInfoItem-context">
                  <div class="content">
                    <div class="user-info-text user-name">
                      <a routerLink="/user/{{user.userAccountName}}">
                        <strong><b>{{user.userName}}</b></strong>
                      </a>
                    </div>
                    <div class="user-info-text user-account-name">
                      <a routerLink="/user/{{user.userAccountName}}">
                        <span>@{{user.userAccountName}}</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="user-detail-info item">
                <div class="UserDetailInfoItem-context">
                  <div class="content">
                    <div class="user-info-text description">
                      <span>{{user.description}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- メインメニュー -->
      <div class="ContentsModules">

        <!-- 本棚 -->
        <div *ngIf="shelfSelected" class="module shelves">
          <div *ngIf="appComponent.accountName === accountName" class="action-button">
            <button type="submit" class="btn btn-primary register-button" routerLink="/shelf/register"><b>本棚を新しく登録する</b>
            </button>
          </div>
          <div *ngIf="shelfCount > 0" class="shelf-module">
            <!-- 本棚の情報 -->
            <div *ngFor="let shelf of shelves; let i = index"
                 class="js-shelf-books shelf-books-content flex-module-inner">
              <ul class="shelf-basic-info">
                <li class="producer-info">
                  <!-- カテゴリの作成者 -->
                  <a routerLink="/user/{{shelf.user.userAccountName}}">
                    <div class="producer-icon">
                      <div *ngIf="shelf.user.profileImageLink !== null" class="producer-profile-icon">
                        <img class="producer-profile-image"
                             src="{{shelf.user.profileImageLink}}"
                             alt=""/>
                      </div>
                      <div *ngIf="shelf.user.profileImageLink === null" class="producer-profile-icon">
                        <img class="producer-profile-image"
                             src="https://storage.cloud.google.com/test-packet-engineerscore/image/profile/default_profile_image.png"
                             alt=""/>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <!-- 本棚の名前 -->
                  <h4 class="shelf-book-info">
                    <div class="ShelfNameItem-context">
                      <a routerLink="/shelf/{{shelf.shelfId}}/"><b>{{shelf.shelfName}}</b></a>
                    </div>
                  </h4>
                  <div class="shelf-reaction">
                    <ul class="shelf-reactions">
                      <li>
                        <ul class="shelf-replies shelf-reaction">
                          <li>
                            <span class="shelf-reaction-reply">
                              <a class="shelf-reaction-reply-link" routerLink="/shelf/{{shelf.shelfId}}/"><fa-icon
                                [icon]="faCommentDots"></fa-icon></a>
                            </span>
                          </li>
                          <li>{{shelf.commentUserCount}}</li>
                        </ul>
                      </li>
                      <li>
                        <ul class="shelf-favorites shelf-reaction">
                          <li *ngIf="shelf.favoriteUserIds.indexOf(appComponent.userId) >= 0">
                                <span class="shelf-reaction-heart favorite-done"
                                      (click)="undoShelfFavorite(shelf.shelfId, i)"><fa-icon
                                  [icon]="faHeart"></fa-icon></span>
                          </li>
                          <li *ngIf="shelf.favoriteUserIds.indexOf(appComponent.userId) == -1">
                              <span class="shelf-reaction-heart favorite-none"
                                    (click)="shelfFavorite(shelf.shelfId, i)">
                                <fa-icon [icon]="faHeart"></fa-icon>
                              </span>
                          </li>
                          <li>{{shelf.favoriteUserCount}}</li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
              <!-- 本棚の本の一覧 -->
              <div class="shelf-books">
                <div class="ShelfItem-context">
                  <ul class="shelf-book-list">
                    <li *ngFor="let book of shelf.books; let i = index" class="shelf-book-content">
                      <div class="context">
                        <div class="shelf-book-image">
                          <a class="amazon-book-detail"
                             href="https://www.amazon.co.jp/dp/{{book.amazonBook.dataAsin}}/"
                             target="_blank">
                            <img class="amazon-book-image"
                                 src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN={{book.amazonBook.dataAsin}}&Format=_SL500_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&language=ja_JP"
                                 onerror="this.src='../../../assets/image/book/book_default_image.png';"></a>
                        </div>
                        <ul class="book-title-data">
                          <a routerLink="/book/{{book.id}}">
                            <li class="book-title">{{book.title | slice: 0 :40}}</li>
                          </a>
                          <li class="sale-date">{{book.saleDate | date:"yyyy年M月d日"}}</li>
                          <ul class="authors">
                            <li *ngFor="let author of book.authors; let i = index" class="author_name">
                              <a *ngIf="i === 0" [routerLink]="['/search/']"
                                 [queryParams]="{ author : author.authorName }">{{author.authorName}}</a>
                              <a *ngIf="i > 0" [routerLink]="['/search/']"
                                 [queryParams]="{ author : author.authorName }">, {{author.authorName}}</a>
                            </li>
                          </ul>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="shelfCount === 0" class="shelf-module">
            <div class="no-shelf-text">
              <span>まだ登録した本棚がありません。</span>
            </div>
          </div>
        </div>

        <!-- コメント -->
        <div *ngIf="readBookSelected || favoriteCommentSelected" class="module bookComments">
          <div
            *ngIf="(readBookSelected && bookCommentCount > 0) || (favoriteCommentSelected && favoriteCommentCount > 0)"
            class="comment-module">
            <div *ngFor="let comment of bookComments; let commentIndex = index"
                 class="js-book-comments book-comment-content flex-module-inner"
                 data-section-id="wtf" style="opacity: 1;">
              <!-- 本の情報 -->
              <div class="book-info">
                <div class="BookCommentItem-context">
                  <!-- 本の基本情報 -->
                  <div class="context">
                    <div class="book-data">
                      <div class="book-image">
                        <a class="amazon-book-detail"
                           href="https://www.amazon.co.jp/dp/{{comment.book.amazonBook.dataAsin}}/"
                           target="_blank">
                          <img class="amazon-book-image"
                               src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN={{comment.book.amazonBook.dataAsin}}&Format=_SL500_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&language=ja_JP"
                               onerror="this.src='../../../assets/image/book/book_default_image.png';"></a>
                      </div>
                      <div class="book-data">
                        <ul class="book-title-data">
                          <a routerLink="/book/{{comment.book.id}}">
                            <li class="book-title">{{comment.book.title | slice: 0 :40}}</li>
                          </a>
                          <li class="sale-date">{{comment.book.saleDate | date:"yyyy年M月d日"}}</li>
                          <ul class="authors">
                            <li *ngFor="let author of comment.book.authors; let i = index" class="author_name">
                              <a *ngIf="i === 0" [routerLink]="['/search/']"
                                 [queryParams]="{ author : author.authorName }">{{author.authorName}}</a>
                              <a *ngIf="i > 0" [routerLink]="['/search/']"
                                 [queryParams]="{ author : author.authorName }">, {{author.authorName}}</a>
                            </li>
                          </ul>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 読んだコメントしたユーザーの情報 -->
              <div class="book-comment">
                <div class="BookCommentItem-context">
                  <!-- いいねしたユーザーの情報など -->
                  <div class="context">
                    <div class="comment-content">

                      <div class="comment-menu">
                        <div *ngIf="comment.reportUserIds.indexOf(appComponent.userId) == -1" class="btn-group" dropdown
                             [insideClick]="true">
                          <div dropdownToggle class="dropdown-toggle">
                            <a class="comment-menu-icon"><i class="fas fa-lg">
                              <fa-icon [icon]="faCaretDown"></fa-icon>
                            </i></a>
                          </div>
                          <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem">
                              <a *ngIf="comment.user.id === appComponent.userId" class="dropdown-item"
                                 href="https://twitter.com/intent/tweet?&url=http://localhost:4200/user/{{comment.user.userAccountName}}?comment={{comment.id}}&ref_src=twsrc%5Etfw&text={{comment.commentText}}%0a%0a&tw_p=tweetbutton&hashtags=EngineersCore"
                                 target="_blank">
                                Twitterにツイートする
                              </a>
                            </li>
                            <li class="divider dropdown-divider"></li>
                            <li *ngIf="comment.user.id === appComponent.userId" role="menuitem">
                              <a class="dropdown-item" (click)="deleteComment(comment.id, commentIndex)">
                                削除する
                              </a>
                            </li>
                            <li *ngIf="comment.user.id !== appComponent.userId" role="menuitem" dropdown
                                triggers="mouseover" placement="right" container="body">
                              <a dropdownToggle class="dropdown-item">報告する</a>
                              <ul *dropdownMenu class="dropdown-menu" role="menu">
                                <li role="menuitem"><a class="dropdown-item"
                                                       (click)="reportComment(comment.id, 'VLT', commentIndex)">暴力的・悪意のある表現</a>
                                </li>
                                <li role="menuitem"><a class="dropdown-item"
                                                       (click)="reportComment(comment.id, 'SPM', commentIndex)">商業目的やスパム</a>
                                </li>
                                <li role="menuitem"><a class="dropdown-item"
                                                       (click)="reportComment(comment.id, 'POM', commentIndex)">公序良俗に反する</a>
                                </li>
                                <li role="menuitem"><a class="dropdown-item"
                                                       (click)="reportComment(comment.id, 'SVL', commentIndex)">その他利用規約に反する</a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                        <div *ngIf="comment.reportUserIds.indexOf(appComponent.userId) >= 0"
                             tooltip="問題のあるコメントとして報告済みです。">
                          <a class="comment-menu-icon"><i class="fas fa-lg">
                            <fa-icon [icon]="faExclamationTriangle"></fa-icon>
                          </i></a>
                        </div>
                      </div>

                      <div class="comment-user comment-user-float">
                        <a routerLink="/user/{{comment.user.userAccountName}}">
                          <div class="comment-user">
                            <div *ngIf="comment.user.profileImageLink !== null" class="user-icon">
                              <img class="avatar" src="{{comment.user.profileImageLink}}"
                                   alt=""/>
                            </div>
                            <div *ngIf="comment.user.profileImageLink === null" class="user-icon">
                              <img class="avatar" src="https://storage.cloud.google.com/test-packet-engineerscore/image/profile/default_profile_image.png" alt=""/>
                            </div>
                            <div class="user-name">
                              {{comment.user.userName}} @{{comment.user.userAccountName}}
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="comment-date">
                        ・{{comment.commentDate | date:"yyyy年M月d日" }}
                      </div>
                      <div class="comment-text">
                        {{comment.commentText}}
                      </div>
                      <div class="comment-reaction">
                        <ul class="comment-reactions">
                          <li>
                            <ul class="comment-replies comment-reaction">
                              <li (click)="reverseRepliesDisplayState(comment.id, commentIndex, 1)">
                              <span class="comment-reaction-reply">
                                <fa-icon [icon]="faCommentDots"></fa-icon>
                              </span>
                              </li>
                              <li>{{comment.replyUserCount}}</li>
                            </ul>
                          </li>
                          <li>
                            <ul class="comment-favorites comment-reaction">
                              <li *ngIf="comment.favoriteUserIds.indexOf(appComponent.userId) >= 0">
                                <span class="comment-reaction-heart favorite-done"
                                      (click)="notCommentFavorite(comment.id, commentIndex)"><fa-icon
                                  [icon]="faHeart"></fa-icon></span>
                              </li>
                              <li *ngIf="comment.favoriteUserIds.indexOf(appComponent.userId) == -1">
                              <span class="comment-reaction-heart favorite-none"
                                    (click)="commentFavorite(comment.id, commentIndex)">
                                <fa-icon [icon]="faHeart"></fa-icon>
                              </span>
                              </li>
                              <li>{{comment.favoriteUserCount}}</li>
                            </ul>
                          </li>
                        </ul>
                      </div>

                      <div class="replies" *ngIf="comment.displayedReply">
                        <div class="add-comment-module">
                          <ul class="add-comment">
                            <li>
                              <div
                                *ngIf="appComponent.profileImageLink !== null && appComponent.profileImageLink !== undefined"
                                class="reply-user-profile-icon">
                                <img class="min-profile-image"
                                     src="{{appComponent.profileImageLink}}" alt=""/>
                              </div>
                              <div *ngIf="appComponent.profileImageLink === null" class="reply-user-profile-icon">
                                <img class="min-profile-image"
                                     src="https://storage.cloud.google.com/test-packet-engineerscore/image/profile/default_profile_image.png"
                                     alt=""/>
                              </div>
                            </li>
                            <li>
                              <form #f="ngForm" class="comment-form">
                                <div class="form-group">
                              <textarea ngModel class="form-control" name="comment"
                                        placeholder="{{comment.user.userName}}さんのコメントに対する返信を追加..."
                                        required maxlength="255"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary reply-button"
                                        (click)="registerReply(f, comment.id, commentIndex)">
                                  <strong><b>コメント</b></strong>
                                </button>
                              </form>
                            </li>
                          </ul>
                        </div>
                        <div class="comment-reply-fields" *ngIf="comment.commentReplies !== []">
                          <ul class="comment-list">
                            <li *ngFor="let reply of comment.commentReplies; let replyIndex = index"
                                class="reply-comment">
                              <!-- コメントの情報 -->
                              <div class="context">
                                <div class="reply-content">
                                  <div class="comment-menu">
                                    <div *ngIf="reply.reportUserIds.indexOf(appComponent.userId) == -1"
                                         class="btn-group"
                                         dropdown [insideClick]="true">
                                      <div dropdownToggle class="dropdown-toggle">
                                        <a class="comment-menu-icon"><i class="fas fa-lg">
                                          <fa-icon [icon]="faCaretDown"></fa-icon>
                                        </i></a>
                                      </div>
                                      <ul *dropdownMenu class="dropdown-menu" role="menu">
                                        <li role="menuitem">
                                          <a *ngIf="reply.user.id === appComponent.userId" class="dropdown-item"
                                             href="https://twitter.com/intent/tweet?&url=http://localhost:4200/shelf/{{comment.id}}%3Fcomment%3D{{comment.id}}%26reply%3D{{reply.bookCommentReplyId}}&ref_src=twsrc%5Etfw&text={{reply.commentText}}%0a%0a&tw_p=tweetbutton&hashtags=EngineersCore"
                                             target="_blank">
                                            Twitterにツイートする
                                          </a>
                                          <a *ngIf="reply.user.id !== appComponent.userId" class="dropdown-item"
                                             href="https://twitter.com/intent/tweet?&url=http://localhost:4200/shelf/{{comment.id}}%3Fcomment%3D{{comment.id}}%26reply%3D{{reply.bookCommentReplyId}}&ref_src=twsrc%5Etfw&text=このコメントは...%0a%0a{{reply.commentText}} By {{reply.user.userName}}+%7C&tw_p=tweetbutton&hashtags=EngineersCore"
                                             target="_blank">
                                            Twitterにツイートする
                                          </a>
                                        </li>
                                        <li class="divider dropdown-divider"></li>
                                        <li *ngIf="reply.user.id === appComponent.userId" role="menuitem">
                                          <a class="dropdown-item"
                                             (click)="deleteReply(reply.bookCommentReplyId, commentIndex, replyIndex)">削除する</a>
                                        </li>
                                        <li *ngIf="reply.user.id !== appComponent.userId" role="menuitem" dropdown
                                            triggers="mouseover" placement="right" container="body">
                                          <a dropdownToggle class="dropdown-item">報告する</a>
                                          <ul *dropdownMenu class="dropdown-menu" role="menu">
                                            <li role="menuitem"><a class="dropdown-item"
                                                                   (click)="reportReply(reply.bookCommentReplyId, 'VLT', commentIndex, replyIndex)">暴力的・悪意のある表現</a>
                                            </li>
                                            <li role="menuitem"><a class="dropdown-item"
                                                                   (click)="reportReply(reply.bookCommentReplyId, 'SPM', commentIndex, replyIndex)">商業目的やスパム</a>
                                            </li>
                                            <li role="menuitem"><a class="dropdown-item"
                                                                   (click)="reportReply(reply.bookCommentReplyId, 'POM', commentIndex, replyIndex)">公序良俗に反する</a>
                                            </li>
                                            <li role="menuitem"><a class="dropdown-item"
                                                                   (click)="reportReply(reply.bookCommentReplyId, 'SVL', commentIndex, replyIndex)">その他利用規約に反する</a>
                                            </li>
                                          </ul>
                                        </li>
                                      </ul>
                                    </div>
                                    <div *ngIf="reply.reportUserIds.indexOf(appComponent.userId) >= 0"
                                         tooltip="問題のあるコメントとして報告済みです。">
                                      <a class="comment-menu-icon"><i>
                                        <fa-icon [icon]="faExclamationTriangle"></fa-icon>
                                      </i></a>
                                    </div>
                                  </div>
                                  <ul class="comment-user">
                                    <li class="comment-user-image">
                                      <a routerLink="/user/{{reply.user.userAccountName}}">
                                        <div
                                          *ngIf="reply.user.profileImageLink !== null && reply.user.profileImageLink !== undefined"
                                          class="user-profile-icon">
                                          <img class="min-profile-image"
                                               src="{{reply.user.profileImageLink}}" alt=""/>
                                        </div>
                                        <div *ngIf="reply.user.profileImageLink === null" class="user-profile-icon">
                                          <img class="min-profile-image"
                                               src="https://storage.cloud.google.com/test-packet-engineerscore/image/profile/default_profile_image.png" alt=""/>
                                        </div>
                                      </a>
                                    </li>
                                    <li>
                                      <ul class="reply-user-name-space">
                                        <li class="comment-user-name"><a
                                          routerLink="/user/{{reply.user.userAccountName}}">{{reply.user.userName}}</a>
                                        </li>
                                        <li><a class="comment-user-account-name"
                                               routerLink="/user/{{reply.user.userAccountName}}">
                                          @{{reply.user.userAccountName}}</a>
                                        </li>
                                      </ul>
                                    </li>
                                  </ul>
                                  <div class="comment-date">・{{reply.commentDate | date:"yyyy年M月d日" }}</div>
                                  <div class="comment">{{reply.commentText}}</div>
                                  <div class="comment-reaction">
                                    <ul class="comment-reactions space-for-comment">
                                      <li>
                                        <ul class="comment-favorites comment-reaction">
                                          <li *ngIf="reply.favoriteUserIds.indexOf(appComponent.userId) >= 0">
                                      <span class="comment-reaction-heart favorite-done"
                                            (click)="undoReplyFavorite(reply.bookCommentReplyId, commentIndex, replyIndex)"><fa-icon
                                        [icon]="faHeart"></fa-icon></span></li>
                                          <li *ngIf="reply.favoriteUserIds.indexOf(appComponent.userId) == -1">
                                      <span class="comment-reaction-heart favorite-none"
                                            (click)="replyFavorite(reply.bookCommentReplyId, commentIndex, replyIndex)"><fa-icon
                                        [icon]="faHeart"></fa-icon></span>
                                          </li>
                                          <li>{{reply.favoriteUserCount}}</li>
                                        </ul>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="readBookSelected && bookCommentCount === 0" class="comment-module">
            <div class="no-comment-text">
              <span>まだ読んだ本がありません。</span>
            </div>
          </div>
          <div *ngIf="favoriteCommentSelected && favoriteCommentCount === 0" class="comment-module">
            <div class="no-comment-text">
              <span>まだいいねしたコメントがありません。</span>
            </div>
          </div>
        </div>

        <!-- 本 -->
        <div *ngIf="interestedBookSelected" class="module interestedBooks">
          <div class="book-module" *ngIf="interestedBookCount > 0">
            <ul class="book-list">
              <li *ngFor="let interested of interestedBooks" class="js-books book-content flex-module-inner"
                  data-section-id="wtf"
                  style="opacity: 1;">
                <!-- 本の情報 -->
                <div class="context">
                  <div class="book-image">
                    <a class="amazon-book-detail"
                       href="https://www.amazon.co.jp/dp/{{interested.book.amazonBook.dataAsin}}/"
                       target="_blank">
                      <img class="amazon-book-image"
                           src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN={{interested.book.amazonBook.dataAsin}}&Format=_SL500_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&language=ja_JP"
                           onerror="this.src='../../../assets/image/book/book_default_image.png';"></a>
                  </div>
                  <ul class="book-title-data">
                    <a routerLink="/book/{{interested.book.id}}">
                      <li class="book-title">{{interested.book.title | slice: 0 :40}}</li>
                    </a>
                    <li class="sale-date">{{interested.book.saleDate | date:"yyyy年M月d日"}}</li>
                    <ul class="authors">
                      <li *ngFor="let author of interested.book.authors; let i = index" class="author_name">
                        <a *ngIf="i === 0" [routerLink]="['/search/']"
                           [queryParams]="{ author : author.authorName }">{{author.authorName}}</a>
                        <a *ngIf="i > 0" [routerLink]="['/search/']"
                           [queryParams]="{ author : author.authorName }">, {{author.authorName}}</a>
                      </li>
                    </ul>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <div *ngIf="interestedBookCount === 0" class="book-module">
            <div class="no-book-text">
              <span>まだ読みたい本は登録されていません。</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 右サイドバー -->
  </div>
</div>

<div *ngIf="!pageFound">
  <app-page-not-found></app-page-not-found>
</div>
