.page-outer {
}
a {
    color: #222222;
    text-decoration: none;
}
a:visited {
    color: #222222;
    text-decoration: none;
}
a:hover {
    color: #337ab7 !important;
}
.selected {
    color: #337ab7;
    font-weight: bold;
}

/* 本のタイトルナビ */
.UserNavigation {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 46px;
}
.UserNavigation-canopy {
    background-color: #337ab7;
    padding: 14px 0;
}
.UserNavigation-textContainer {
    margin: 0 auto;
    max-width: 1190px;
}
.UserNavigation-titleText {
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    line-height: 32px;
    overflow: hidden;
    padding-left: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
h1 {
    font-size: 24px;
    text-rendering: optimizeLegibility;
    margin: 0;
}

/* ナビゲーションメニュー */
.MenuNavigation {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 105px;
    border-bottom: 1px solid #e6ecf0;
}
.MenuNavigation-canopy {
    background-color: #ffffff;
    padding: 5px 0;
}
.MenuNavigation-textContainer {
    margin: 0 auto;
    max-width: 1190px;
}
.MenuNavigation-titleText {
    color: #222222;
    font-weight: bold;
    overflow: hidden;
    font-size: 15px;
    padding-left: 230px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
ul.navigation-menu {
    list-style: none;
    margin-bottom: 0 !important;
}
ul.navigation-menu li {
    display: inline-block;
    margin-right: 10px;
}
ul.navigation {
    list-style: none;
    margin-bottom: 0 !important;
}
ul.navigation > .link-items:hover {
    list-style: none;
    margin-bottom: 0 !important;
    color: #337ab7;
    cursor: pointer;
}
ul.navigation li {
    display: grid;
    text-align: center;
    margin-right: 4px;
}

/* メインコンテンツ */
@media screen and (min-width: 1236px) {
  .AppContainer {
    max-width: 1190px;
  }
}
.AppContainer {
    margin: 120px auto;
}
.AppContent-main {
    margin: 15px auto 0;
    max-width: 1190px;
    min-width: 890px;
}
.Grid--withGutter {
    margin: 0 -5px;
}
.Grid {
    display: block;
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: left;
}

.Grid--withGutter>.Grid-cell {
    padding: 0 5px;
}
.Grid-cell {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: top;
    width: 100%;
}
@media screen and (min-width: 1236px) {
  .u-lg-size1of4, .u-lg-size2of8, .u-lg-size3of12 {
    width: 25%!important;
  }
}
.u-size1of3, .u-size2of6, .u-size4of12 {
    width: 33.33333333333333%!important;
}

/* 左サイドバー */
.SidebarUserModules {
    float: left;
    width: 290px;
}

.wtf-module.has-content {
    display: block;
}
.wtf-module {
    display: none;
}
.module {
    background-clip: padding-box;
    border: 0;
    position: relative;
    margin-bottom: 10px;
}

.module ul:first-child li:first-child .list-link, .module .flex-module:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.module .flex-module {
    background-color: #fff;
    border: 1px solid #e6ecf0;
    padding: 15px;
    line-height: 16px;
}

.flex-module-inner, .flex-module-footer {
    color: #222222;
    font-size: 14px;
}
.user-info-text > a:hover {
    color: #337ab7 !important;
}
.user-image {
    padding-bottom: 15px !important;
}
.user-name {
    font-size: 14px;
}
.user-name, .user-account-name {
    margin-bottom: 3px
}
.user-account-name > a {
    color: #657786 !important;
}

.UserImageItem-context > .content {
    text-align: center;
}
.profile-image {
    width: 150px;
    height: 150px;
}
.description {
    line-height: initial;
}
.item {
    border-bottom: 1px solid #e6ecf0;
    padding: 10px 0;
}
b {
  margin: 1px;
}
ul.knowledge-score-sum, ul.knowledge-score-week {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.knowledge-score-sum > li, ul.knowledge-score-week > li {
    display: inline-block;
    margin-right: 10px;
}

/* メインコンテンツ */
@media (min-width: 1236px) {
  .ContentsModules {
    float: left;
    margin: 0 10px;
  }
}
.ContentsModules {
    width: 850px;
}

/* 本棚一覧 */
.shelf-module {
    background-color: #fff;
    padding: 10px;
    line-height: 16px;
}
.shelf-books-content {
    border-bottom: 2px solid #e6ecf0;
    margin: 5px 0;
    padding: 10px 0;
}
h4 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.producer-info {
    vertical-align: top !important;
}
ul.shelf-basic-info {
    list-style: none;
    margin-bottom: 8px !important;
    padding-left: 0;
}
ul.shelf-basic-info li {
    display: inline-block;
    margin: 0 6px 0 0;
}
.producer-profile-image {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    vertical-align: sub !important;
    margin: 0 10px;
}
ul.shelf-reactions {
    list-style: none;
    margin-bottom: 5px !important;
    padding-left: 0;
}
ul.shelf-reactions li {
    display: inline-block;
    margin-right: 10px;
}
ul.shelf-reaction {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.shelf-reaction li {
    display: inline-block;
    margin-right: 4px;
}
ul.shelf-reaction li > span {
    color: #cccccc;
}
.shelf-reaction-reply-link,.shelf-reaction-reply-link:visited {
    color: #cccccc;
}
ul.shelf-reaction li > span.shelf-reaction-reply:hover {
    color: #337ab7;
    cursor: pointer;
}
ul.shelf-reaction li > span.shelf-reaction-heart:hover {
    color: #f08080;
    cursor: pointer;
}
ul.shelf-reaction li > span.favorite-done {
    color: #f08080;
}
.ShelfNameItem-context > a:hover {
    color: #337ab7 !important;
}
ul.shelf-book-list {
    list-style: none;
    margin-bottom: 0 !important;
    padding: 0 !important;
}
ul.shelf-book-list > li {
    width: 145px;
    vertical-align: top;
    display: inline-block;
}
.shelf-book-content {
    font-size: 12px;
    margin: 5px 10px;
    padding: 10px 0;
}
.shelf-book-image {
    text-align: center;
    margin-bottom: 5px;
}
.amazon-book-image {
    width: 120px;
    height: 165px;
    border: 1px solid #e6ecf0;
}
ul.book-title-data {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.book-title-data li {
    margin: 1px 0;
}
.book-title {
    font-weight: bold;
    word-wrap: break-word;
}
ul.authors {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.authors li {
    display: inline;
}
.author-name {
    width: auto !important;
}
.sale-date {
    font-size: 12px;
    color: #657786 !important;
}
.no-shelf-text {
    padding: 10px;
    line-height: 16px;
}

/* 読んだ本一覧 */
.comment-module {
  background-color: #fff;
    border: 1px solid #e6ecf0;
    padding: 10px;
    line-height: 16px;
}
.book-data {
    font-size: 12px;
}
.book-info {
    width: 25%;
    margin: 0 10px;
    display: inline-block;
}
.book-image {
    text-align: center;
}
.amazon-book-image {
    width: 120px;
    height: 165px;
    border: 1px solid #e6ecf0;
}
.book-comment {
    display: inline-block;
    vertical-align: top;
    width: 68%;
    margin: 10px;
}
.book-comment-content {
    border-bottom: 1px solid #e6ecf0;
    /* ↓コメント詳細を開けるようにしたら有効にする */
    /*cursor: pointer;*/
    margin: 5px;
    padding: 10px 0;
}
ul.book-title-data {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.book-title-data li {
    margin: 1px 0;
}
.book-title {
    font-weight: bold;
    word-wrap: break-word;
}
ul.authors {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.authors li {
    display: inline;
}
.author-name {
    width: auto !important;
}
.sale-date {
    font-size: 12px;
    color: #657786 !important;
}

.comment-content {
    margin-left: 58px;
}
.comment-text, .comment-reaction {
    padding-top: 5px;
    white-space: pre-line;
    line-height: normal;
}
.avatar {
    float: left;
    position: absolute;
    width: 45px;
    height: 45px;
    margin-left: -58px;
    border-radius: 50%;
    -moz-force-broken-image-icon: 1;
}
.comment-user > a:hover {
    color: #337ab7 !important;
}
.comment-user {
    float: left;
}
.user-name {
    font-weight: bold;
}
ul.comment-reactions {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.comment-reactions li {
    display: inline-block;
    margin-right: 10px;
}
ul.comment-reaction {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.comment-reaction li {
    display: inline-block;
    margin-right: 4px;
}
ul.comment-reaction li > span {
    color: #cccccc;
}
ul.comment-reaction li > span.comment-reaction-reply:hover {
    color: #337ab7;
    cursor: pointer;
}
ul.comment-reaction li > span.comment-reaction-heart:hover {
    color: #f08080;
    cursor: pointer;
}
ul.comment-reaction li > span.favorite-done {
    color: #f08080;
}
.no-comment-text {
    padding: 10px;
    line-height: 16px;
    text-align: center;
}

.book-module {
  background-color: #fff;
    border: 1px solid #e6ecf0;
    padding: 10px;
    line-height: 16px;
}
ul.book-list {
    list-style: none;
    margin-bottom: 0 !important;
    padding: 0 !important;
}
ul.book-list > li {
    width: 145px;
    vertical-align: top;
    display: inline-block;
}
.book-content {
    font-size: 12px;
    margin: 5px 10px;
    padding: 10px 0;
}
.book-image {
    text-align: center;
    margin-bottom: 5px;
}
.amazon-book-image {
    width: 120px;
    height: 165px;
    border: 1px solid #e6ecf0;
}
ul.book-title-data {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.book-title-data li {
    margin: 1px 0;
}
.book-title {
    font-weight: bold;
    word-wrap: break-word;
}
ul.authors {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0;
}
ul.authors li {
    display: inline;
}
.author-name {
    width: auto !important;
}
.sale-date {
    font-size: 12px;
    color: #657786 !important;
}

.no-book-text {
    padding: 10px;
    line-height: 16px;
    text-align: center;
}
