<header>
  <div id="header">
    <div class="top-bar">
      <div class="global-nav">
        <div class="global-nav-inner">
          <div class="container">
            <!-- ホームメニュー -->
            <h1 class="home-menu Icon">
              <a routerLink="/shelves/">EngineersCore</a>
            </h1>
            <div class="pull-right">
              <ul class="global-menu">
                <li class="nav global-actions" id="global-nav-search">
                  <nav>
                    <a routerLink="/search/">
                      <span class="search"><i class="fas fa-lg"><fa-icon [icon]="faSearch"></fa-icon></i></span>
                      <b class="menu-text"> 検索する</b>
                    </a>
                  </nav>
                </li>
                <li class="nav global-actions" id="global-nav-shelf-books">
                  <nav>
                    <a routerLink="/shelves/">
                      <span class="shelf-books"><i class="fas fa-lg"><fa-icon
                        [icon]="faBookReader"></fa-icon></i></span>
                      <b class="menu-text"> みんなの本棚</b>
                    </a>
                  </nav>
                </li>
                <li class="nav global-actions" id="global-nav-notifications">
                  <a>
                    <span class="notifications"><i class="fas fa-lg"><fa-icon [icon]="faBell"></fa-icon></i></span>
                    <b class="menu-text"> 通知</b>
                  </a>
                </li>
                <li class="nav global-actions">
                  <!-- ログインユーザーメニュー -->
                  <div class="login-user-menu">
                    <div class="btn-group" dropdown [insideClick]="true">
                      <div dropdownToggle class="dropdown-toggle login-state" *ngIf="appComponent.isLoggedIn">
                        <div class="user-profile-image"
                             *ngIf="appComponent.profileImageLink === null || appComponent.profileImageLink === undefined">
                          <nav><img class="avatar"
                                    src="{{appComponent.defaultProfileImage}}"
                                    alt=""/>
                          </nav>
                        </div>
                        <div class="user-profile-image"
                             *ngIf="appComponent.profileImageLink !== null && appComponent.profileImageLink !== undefined">
                          <nav><img class="avatar"
                                    src="{{appComponent.profileImageUrl}}{{appComponent.profileImageLink}}"
                                    alt=""
                                    onerror="this.src='../../../assets/image/profile/default_profile_image.png';">
                          </nav>
                        </div>
                      </div>
                      <div dropdownToggle class="dropdown-toggle login-state" *ngIf="!appComponent.isLoggedIn">
                        <nav>
                          <i class="fas fa-lg">
                            <fa-icon [icon]="faBars"></fa-icon>
                          </i>
                        </nav>
                      </div>
                      <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li *ngIf="appComponent.isLoggedIn" role="menuitem">
                          <a class="dropdown-item" href="/user/{{appComponent.accountName}}">
                            <b class="fullname">{{appComponent.userName}}</b><span class="UserBadges"></span>
                            <p class="name"><span class="username" dir="ltr">@{{appComponent.accountName}}</span></p>
                            <p class="my-page"><span>マイページ</span></p>
                          </a>
                        </li>
                        <li *ngIf="appComponent.isLoggedIn" class="divider dropdown-divider"></li>
                        <li *ngIf="appComponent.isLoggedIn" role="menuitem"><a class="dropdown-item"
                                                                               href="/shelf/register">本棚を登録</a></li>
                        <li *ngIf="appComponent.isLoggedIn" class="divider dropdown-divider"></li>
                        <li *ngIf="appComponent.isLoggedIn" role="menuitem"><a class="dropdown-item"
                                                                               href="/account/setting">アカウント設定</a></li>
                        <li role="menuitem"><a class="dropdown-item"
                                               href="https://twitter.com/messages/compose?recipient_id=1142596153529131008">お問い合わせ</a>
                        </li>
                        <li class="divider dropdown-divider"></li>
                        <li *ngIf="appComponent.isLoggedIn" role="menuitem"><a><span class="dropdown-item"
                                                                                     (click)="signOut()">ログアウト</span></a>
                        </li>
                        <li *ngIf="!appComponent.isLoggedIn" role="menuitem"><a class="dropdown-item"
                                                                                routerLink="/login/">ログイン</a>
                        </li>
                        <li *ngIf="!appComponent.isLoggedIn" role="menuitem"><a class="dropdown-item"
                                                                                routerLink="/signup/">新規登録</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
