a {
    color: #222222;
    text-decoration: none;
}
a:visited {
    color: #222222;
    text-decoration: none;
}
a:hover {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}
ul {
    list-style: none;
    padding-left: 0;
}

/* Smart Phone Web用のスタイル(画面サイズが480px以下の場合) */
@media screen and (min-width:0px) and (max-width: 480px) {
    .AppContainer {
        max-width: 480px;
    }
    .AppContent-main {
    }
    .ShelfBooksModules {
        width: 100%;
        padding: 8px;
    }
    .shelf-title {
        font-size: 18px;
    }
    .book-content {
        width: 95%;
        margin: 10px 0;
    }
    .book-image {
        float: left;
        width: 35%;
    }
    ul.book-title-data {
        float: right;
        width: 60%;
    }
    ul.comment-user-name-space {
        width: 65%;
    }
    .comment {
        width: 90%;
    }
}

/* Tablet用のスタイル(画面サイズが480~890px以上の場合) */
@media screen and (min-width:480px) and (max-width: 1024px) {
    .AppContainer {
        max-width: 1024px;
    }
    .AppContent-main {
    }
    .ShelfBooksModules {
        width: 100%;
        padding: 10px;
    }
    .shelf-title {
        font-size: 20px;
    }
    .book-content {
        width: 20%;
        padding: 8px;
    }
    ul.comment-user-name-space {
        width: 88%;
    }
    .comment {
        width: 95%;
    }
}

/* PC用のスタイル(画面サイズが890px以上の場合) */
@media screen and (min-width: 1024px) {
    .AppContainer {
        max-width: 1024px;
    }
    .AppContent-main {
        margin: 15px auto 0;
        min-width: 890px;
    }
    .ShelfBooksModules {
        width: 850px;
        padding: 15px;
    }
    .shelf-title {
        font-size: 22px;
    }
    .book-content {
        width: 20%;
        padding: 8px;
    }
    ul.comment-user-name-space {
        width: 88%;
    }
    .comment {
        width: 95%;
    }
}

/* メインコンテンツ */
@media screen and (min-width: 1236px) {
  .AppContainer {
    max-width: 1190px;
  }
}
.AppContainer {
    margin: 0 auto;
}
@media (min-width: 1236px) {
  .ShelfBooksModules {
    float: left;
    margin: auto;
  }
}
.ShelfBooksModules {
    position: unset;
    background-color: #fff;
    border: 1px solid #e6ecf0;
}

/* 本棚名ナビ */
.shelf-title-area {
    width: 90%;
    margin: 20px;
}
.shelf-title {
    word-break: break-all;
}

/* 本棚の基本情報 */
.shelf-menu {
    float: right;
    margin: 20px;
}
.dropdown-menu {
    top: 18px;
    left: -140px;
}
ul.shelf-data {
    margin: 20px;
    padding: 0;
}
ul.shelf-data li {
    margin-right: 10px;
}
.profile-image {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: text-top;
}
ul.producer-name-space {
    margin-bottom: 0;
    padding: 5px 0 0 50px;
}
ul.producer-name-space li {
    margin-right: 4px;
}
.producer-name {
    font-weight: bold;
}
.producer-name, .producer-account-name {
    margin-top: 0;
    font-size: 14px;
}
.account-name {
    color: #657786;
}
.shelf-description {
    margin: 10px 20px;
}
.shelf-description-text {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 1px;
}
ul.space-for-description {
    margin: 0 20px 20px;
}
ul.comment-reactions li {
    display: inline-block;
    margin-right: 10px;
}
ul.comment-reaction {
    margin-bottom: 0;
}
ul.comment-reaction li {
    display: inline-block;
    margin-right: 4px;
}
ul.comment-reaction li > span {
    color: #cccccc;
}
ul.comment-reaction li > span.comment-reaction-reply:hover {
    color: #337ab7;
    cursor: pointer;
}
ul.comment-reaction li > span.comment-reaction-heart:hover {
    color: #f08080;
    cursor: pointer;
}
ul.comment-reaction li > span.favorite-done {
    color: #f08080;
}

.shelf-books {
    margin: 30px 0;
    border-bottom: 1px solid #e6ecf0;
}
ul.book-list {
    margin: 10px 0;
    padding: 0;
}
ul.book-list > li {
    vertical-align: top;
    display: inline-block;
}
.book-image {
    text-align: center;
    margin-bottom: 5px;
}
.amazon-book-image {
    border: 1px solid #e6ecf0;
    width: 88%;
}
ul.book-title-data {
    margin-bottom: 0;
    padding: 0;
}
ul.book-title-data li {
    margin: 4px 0;
}
.book-title {
    font-weight: bold;
    word-wrap: break-word;
}
ul.authors {
    margin-bottom: 0;
}
ul.authors li {
    display: inline;
}
.author-name {
    width: auto;
}
.sale-date {
    font-size: 12px;
    color: #657786;
}

.no-book-text {
    margin: 20px;
    line-height: 16px;
    text-align: center;
}

/* コメント */
.shelf-comments {
    margin: 10px 0;
}
.form-control {
    height: 45px;
    color: #222222;
    border: 0 solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    transition: none;
}
ul.add-comment {
    margin: 25px 15px;
}
ul.add-comment li {
    display: inline;
}
ul.add-reply {
    margin: 25px 0;
}
.user-profile-icon {
    position: absolute;
}
.form-group {
    margin-bottom: 5px;
}
.comment-form {
    margin-left: 60px;
}
.comment-button {
    border-radius: 0;
    background-color: #cccccc;
    border: 0 solid #e6ecf0;
}
.comment-button:hover {
    background-color: #337ab7;
}

.comments-module {
    margin: 15px 15px;
}
ul.comment-list {
    margin: 0;
}
.shelf-comment {
    margin: 30px 0;
}
.comment-menu {
    float: right;
    padding: 0 10px;
}
.comment-menu-icon {
    color: #cccccc;
}
ul.comment-user {
    margin: 0;
}
ul.comment-user li {
    display: inline;
}
ul.comment-user-name-space {
    float: left;
    margin: 0 0 0 50px;
}
.comment-user-name {
    font-weight: bold;
}
.comment {
    padding: 5px 35px 5px 50px;
    white-space: pre-line;
}
ul.space-for-comment {
    margin: 0 50px;
}

.replies {
    margin-left: 30px;
}
.reply-button {
    border-radius: 0;
    background-color: #cccccc;
    border: 0 solid #e6ecf0;
}
.reply-button:hover {
    background-color: #337ab7;
}
.reply-comment {
    margin: 15px 0;
}
.min-profile-image {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: text-top !important;
}
