<div class="page-outer">
  <!-- 本棚名 -->
  <div class="ShelfNameNavigation">
    <div class="ShelfNameNavigation-canopy u-bgUserColor">
      <div class="ShelfNameNavigation-textContainer">
        <h1 class="ShelfNameNavigationText" dir="ltr">
          <span class="comment-reaction-reply"><fa-icon
            [icon]="faBookReader"></fa-icon></span> {{shelf.shelfName}}
        </h1>
      </div>
    </div>
  </div>
  <!-- 本棚の基本情報 -->
  <div class="ShelfNavigation">
    <div class="ShelfNavigation-canopy">
      <div class="ShelfNavigation-textContainer">
        <div class="ShelfNavigation-titleText" dir="ltr">
          <ul class="shelf-data">
            <li class="shelf-producer-image">
              <a routerLink="/user/{{shelf.user.userAccountName}}">
                <div *ngIf="shelf.user.profileImageLink !== null && shelf.user.profileImageLink !== undefined"
                     class="user-profile-icon">
                  <img class="profile-image" src="../../assets/image/profile/{{shelf.user.profileImageLink}}"
                       alt=""/>
                </div>
                <div *ngIf="shelf.user.profileImageLink === null" class="user-profile-icon">
                  <img class="profile-image" src="../../../assets/image/profile/default_profile_image.png" alt=""/>
                </div>
              </a>
            </li>
            <li>
              <ul class="producer-name-space">
                <a routerLink="/user/{{shelf.user.userAccountName}}">
                  <li class="producer-name">{{shelf.user.userName}}</li>
                </a>
                <a routerLink="/user/{{shelf.user.userAccountName}}">
                  <li class="producer-account-name">@{{shelf.user.userAccountName}}</li>
                </a>
              </ul>
            </li>
          </ul>
          <div class="shelf-description">
            <div class="shelf-description-text">{{shelf.description}}</div>
          </div>
          <div class="comment-reaction">
            <ul class="comment-reactions">
              <li>
                <ul class="comment-replies comment-reaction">
                  <li><span class="comment-reaction-reply"><fa-icon [icon]="faCommentDots"></fa-icon></span>
                  </li>
                  <li>{{shelf.commentUserCount}}</li>
                </ul>
              </li>
              <li>
                <ul class="comment-favorites comment-reaction">
                  <li *ngIf="shelf.favoriteUserIds.indexOf(appComponent.userId) >= 0">
                    <span class="comment-reaction-heart favorite-done" (click)="undoShelfFavorite(shelf.shelfId)">
                      <fa-icon [icon]="faHeart"></fa-icon>
                    </span>
                  </li>
                  <li *ngIf="shelf.favoriteUserIds.indexOf(appComponent.userId) == -1">
                    <span class="comment-reaction-heart favorite-none" (click)="shelfFavorite(shelf.shelfId)">
                      <fa-icon [icon]="faHeart"></fa-icon>
                    </span>
                  </li>
                  <li>{{shelf.favoriteUserCount}}</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="AppContainer">
    <div class="AppContent-main u-cf">
      <!-- メインメニュー(本棚の本) -->
      <div class="ShelfBooksModules">
        <!-- 本の情報 -->
        <div class="module shelf-books">
          <div class="shelf-book-module" *ngIf="shelfBookCount > 0">
            <ul class="book-list">
              <li *ngFor="let book of shelf.books" class="js-books book-content flex-module-inner" data-section-id="wtf"
                  style="opacity: 1;">
                <!-- 本の情報 -->
                <div class="context">
                  <div class="book-image">
                    <a class="amazon-book-detail"
                       href="https://www.amazon.co.jp/dp/{{book.amazonBook.dataAsin}}/"
                       target="_blank">
                      <img class="amazon-book-image" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN={{book.amazonBook.dataAsin}}&Format=_SL500_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&language=ja_JP"></a><img
                    src="https://ir-jp.amazon-adsystem.com/e/ir?language=ja_JP&l=li3&o=9&a={{book.amazonBook.dataAsin}}"
                    width="1"
                    height="1" alt="" style="border:none !important; margin:0 !important;"/>
                  </div>
                  <ul class="book-title-data">
                    <a routerLink="/book/{{book.id}}">
                      <li class="book-title">{{book.title | slice: 0 :40}}</li>
                    </a>
                    <li class="sale-date">{{book.saleDate | date:"yyyy年M月d日"}}</li>
                    <ul class="authors">
                      <li *ngFor="let author of book.authors; let i = index" class="author_name">
                        <a *ngIf="i === 0" [routerLink]="['/search/']"
                           [queryParams]="{ author : author.authorName }">{{author.authorName}}</a>
                        <a *ngIf="i > 0" [routerLink]="['/search/']"
                           [queryParams]="{ author : author.authorName }">, {{author.authorName}}</a>
                      </li>
                    </ul>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <div *ngIf="shelfBookCount === 0" class="shelf-books">
            <div class="no-book-text">
              <span>まだ本棚に本が登録されていません。</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 右サイドバー -->

  </div>
</div>
