<div class="AppContainer">
  <div class="AppContent-main u-cf">
    <!-- メインメニュー -->
    <div class="SignupModules">
      <div class="content-module">
        <h3 class="signup-title">新規登録</h3>
        <div class="service-signup">
          <div class="twitter-signup">
            <button class="btn btn-default service-signup-button"><b>Twitterで登録する</b></button>
          </div>
          <div class="google-signup">
            <button class="btn btn-default service-signup-button"><b>Googleで登録する</b></button>
          </div>
          <div class="github-signup">
            <button class="btn btn-default service-signup-button"><b>Githubで登録する</b></button>
          </div>
        </div>
        <div class="email-signup">
          <form #f="ngForm" class="signup-form" (ngSubmit)="signUp(f)">
            <div class="form-group">
              <label for="email">
                <span>メールアドレス</span>
              </label>
              <input ngModel type="email" class="form-control" name="email" id="email" required maxlength="255" placeholder="例: engineers-core@example.com">
            </div>
            <button type="submit" class="btn btn-primary signup-button">
              <b>メールアドレスで登録</b>
            </button>
          </form>
        </div>
        <p class="signin-link"><a routerLink="/login/">ログインはこちら</a></p>
      </div>
    </div>
  </div>
</div>
