/* メインコンテンツ */
@media screen and (min-width: 1236px) {
  .AppContainer {
    max-width: 890px;
  }
}
.AppContainer {
    margin: 45px auto;
}
.AppContent-main {
    margin: 15px auto 0;
    max-width: 890px;
    min-width: 890px;
}
.content-module {
    background-color: #fff;
    border: 1px solid #e6ecf0;
    padding: 10px;
    height: 500px;
}
.signup-title {
    font-weight: bold;
    text-align: center;
}

.signup-form {
    width: 40%;
    margin: 30px 30px 30px 260px;
}
.form-control {
    color: #222222;
    border: 0 solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    padding: 0;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 0;
    box-shadow: none;
    transition: none;
}
.label {
    margin-bottom: 0;
}
.button {
    text-align: center;
}
.email-signup {
    margin-bottom: 10px;
}
.verified-email {
    margin-bottom: 20px;
    font-size: 16px;
}
.signin-link {
    text-align: center;
}

.not-verified-email-view {
    text-align: center;
    margin-top: 60px;
}
