<header>
  <div id="header">
    <div class="top-bar">
      <div class="global-nav">
        <div class="global-nav-inner">
          <div class="container">
            <!-- ホームメニュー -->
            <h1 class="home-menu Icon Icon--engineersCore topbar-etched">
              <nav>
                <a routerLink="/dashboard">EngineersCore</a>
              </nav>
            </h1>
            <!-- 左メニュー -->
            <div class="left-menu">
              <ul class="nav" id="global-actions">
                <li id="global-nav-home">
                  <nav>
                    <a routerLink="/dashboard">ホーム</a>
                  </nav>
                </li>
                <li id="global-nav-users">
                  <nav>
                    <a routerLink="/users">ユーザー一覧</a>
                  </nav>
                </li>
                <li id="global-nav-books">
                  <nav>
                    <a routerLink="/books">技術書一覧</a>
                  </nav>
                </li>
              </ul>
            </div>
            <div class="pull-right nav-extras">
              <!-- 検索フォーム -->
              <div class="search-form">
                <nav>
                  <form #f="ngForm" (ngSubmit)="search(f)" novalidate>
                    <ul class="search-form">
                      <li>
                        <div class="form-group">
                          <input type="text" name="query" ngModel placeholder="検索する" required>
                        </div>
                      </li>
                    </ul>
                  </form>
                </nav>
              </div>
              <ul class="nav right-actions">
                <!-- ログインユーザーメニュー -->
                <div class="login-user-menu">
                  <div class="login-state">
                    <div *ngIf="appComponent.profileImageLink === null || appComponent.profileImageLink === undefined">
                      <nav>
                        <a routerLink="/login">{{appComponent.authErrorMessage}}</a>
                      </nav>
                    </div>
                    <div class="user-profile-image"
                         *ngIf="appComponent.profileImageLink !== null && appComponent.profileImageLink !== undefined">
                      <nav>
                        <span class="" (click)="clickDropdownMenu()">
                          <img class="avatar" src="../../assets/image/profile/{{appComponent.profileImageLink}}"
                               alt=""/>
                        </span>
                      </nav>
                    </div>
                  </div>
                </div>
              </ul>
              <div *ngIf="displayDropdownMenu">
                <div class="DashUserDropdown dropdown-menu">
                <ul class="user-toggle-menu">
                  <li class="user-detail-link menu-item">
                    <a routerLink="/user/{{appComponent.accountName}}" class="DashUserDropdown-userInfoLink js-nav">
                      <b class="fullname">{{appComponent.userName}}</b><span class="UserBadges"></span>
                      <p class="name"><span class="username" dir="ltr">@{{appComponent.accountName}}</span></p>
                    </a>
                  </li>
                  <li class="dropdown-divider" role="presentation"></li>
                  <li class="user-account-setting-link link-menu menu-item">
                    <a class="js-nav" href="#">アカウント設定</a>
                  </li>
                  <li class="inquiry-link link-menu menu-item">
                    <a class="js-nav" href="#">お問い合わせ</a>
                  </li>
                  <li class="logout-link link-menu menu-item">
                    <span (click)="signOut()">ログアウト</span>
                  </li>
                </ul>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
