header {
  padding-bottom: 46px;
}

a {
    color: #222222;
    text-decoration: none;
}
a:hover {
    color: #1da1f2;
    text-decoration: none;
}

.top-bar {
    backface-visibility: hidden;
    border-bottom: 1px solid #e6ecf0;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.global-nav {
    border-bottom: 1px solid rgba(0,0,0,0.25);
    height: 46px;
    position: relative;
    width: 100%;
}

.global-nav-inner {
    background: #fff;
    height: 46px;
}

@media screen and (max-width: 938px) {
  .global-nav .container {
    padding: 0;
  }
}

@media screen and (max-width: 1190px) {
  .global-nav .container {
    min-width: 590px;
  }
}

@media screen and (max-width: 936px) {
  .global-nav .container {
    width: auto;
    min-width: 520px;
  }
}

@media screen and (min-width: 1236px) {
  .global-nav .container {
    max-width: 1190px;
  }
}

.global-nav .container {
    height: 100%;
    text-align: center;
    width: auto;
}

.container {
    position: relative;
    width: 890px;
    margin: 0 auto;
}


element.style {
    display: inline-block;
    width: 24px;
    height: 21px;
}

/* home-menu */
.topbar-etched {
    color: #1da1f2;
    cursor: pointer;
    font-size: 21px;
    margin-top: 14px;
    display: inline-block;
    transition: all .25s ease-in-out;
    font-weight: bold;
}
.Icon {
    background: transparent;
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    position: relative;
    margin-right: 115px;
}
h1 {
    font-size: 24px;
    line-height: .8;
    text-rendering: optimizeLegibility;
}

/* left-menu */
.left-menu {
    float: left;
    height: 100%;
}
.nav {
    text-align: left;
}
.nav, .nav>li {
    float: left;
}
ul {
    padding: 0;
    display: block;
    list-style: disc none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}
#global-actions>li {
    /*height: 46px;*/
    overflow: hidden;
}
#global-actions .new:before {
    content: "\25CF";
    font-size: 14px;
    left: 5px;
    position: absolute;
    top: 1px;
}
.nav>li {
    color: #66757f;
}
.nav li {
    position: relative;
}
.nav, .nav>li {
    float: left;
}
li {
    text-align: inherit;
    display: list-item;
    text-align: -webkit-match-parent;
    margin-left: 5px;
}

/* pull-right */
.pull-right {
    float: right;
    text-align: left;
}
.nav-extras {
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 100%;
}
.global-nav [role=search] {
    height: 100%;
}
.global-nav .pull-right .right-actions {
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 100%;
}
.global-nav .pull-right .nav {
    position: relative;
    z-index: 5;
}
.nav {
    text-align: left;
}
/* user-dropdown, topbar-readbook-btn */
.nav>li {
    color: #66757f;
}
.nav li {
    position: relative;
}
.global-nav [role=navigation], .nav, .nav>li {
    float: left;
}
.dropdown {
    position: relative;
}
li {
    text-align: inherit;
}
.user-profile-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.avatar {
    display: block;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}
