a {
    color: #222222;
    text-decoration: none;
}
a:visited {
    color: #222222;
    text-decoration: none;
}
a:hover {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}
ul {
    list-style: none;
    padding-left: 0;
}
.selected {
    color: #337ab7;
    font-weight: bold;
}

/* Smart Phone Web用のスタイル(画面サイズが480px以下の場合) */
@media screen and (min-width:0px) and (max-width: 480px) {
    .AppContainer {
        max-width: 480px;
    }
    .AppContent-main {
    }
    .profile-avatar {
        width: 55px;
        height: 55px;
    }
    .ContentsModules {
        width: 100%;
    }
    .MenuNavigation-titleText {
        font-size: 13px;
    }
    .menu-navigation {
        display: none;
    }
    .shelf-info-area {
        width: 72%;
    }
    .display-none-in-sp {
        display: none;
    }
    /* 読んだコメント */
    .comment-book-image {
        width: 30%;
    }
    .comment-book-title {
        width: 65%;
    }
    li.comment-book-info {
        width: 95%;
    }
    li.book-comment {
        width: 95%;
        font-size: 12px;
    }
    ul.comment-user-name-space {
        width: 69%;
    }
    .comment {
        width: 90%;
    }
    .comment-content {
        margin: 20px 0 10px;
    }
    .comment-text-form {
        font-size: 12px;
    }
}

/* Tablet用のスタイル(画面サイズが480~1240px以上の場合) */
@media screen and (min-width:480px) and (max-width: 1240px) {
    .AppContainer {
        max-width: 1240px;
    }
    .AppContent-main {
    }
    .profile-avatar {
        width: 105px;
        height: 105px;
    }
    .ContentsModules {
        width: 100%;
    }
    .MenuNavigation-titleText {
        font-size: 14px;
    }
    .shelf-info-area {
        width: 82%;
    }
    /* 読んだコメント */
    .comment-book-image {
        width: 95%;
    }
    .comment-book-title {
        width: 95%;
    }
    li.comment-book-info {
        width: 25%;
    }
    li.book-comment {
        width: 70%;
        margin: 10px;
    }
    ul.comment-user-name-space {
        width: 88%;
    }
    .comment {
        width: 95%;
    }
}

/* PC用のスタイル(画面サイズが1240px以上の場合) */
@media screen and (min-width: 1240px) {
    .AppContainer {
        max-width: 1190px;
        margin: 0 auto;
    }
    .AppContent-main {
        margin: 15px auto 0;
        min-width: 890px;
    }
    .SidebarUserModules {
        float: left;
        width: 290px;
    }
    .module {
        margin-bottom: 10px;
    }
    .profile-avatar {
        width: 70px;
        height: 70px;
    }
    .ContentsModules {
        float: left;
        margin: 0 10px;
        width: 850px;
    }
    .MenuNavigation-titleText {
        font-size: 16px;
    }
    .shelf-info-area {
        width: 90%;
    }
    .action-button {
        width: 850px;
    }
    /* 読んだコメント */
    .comment-book-image {
        width: 95%;
    }
    .comment-book-title {
        width: 95%;
    }
    li.comment-book-info {
        width: 25%;
    }
    li.book-comment {
        width: 70%;
        margin: 10px;
    }
    ul.comment-user-name-space {
        width: 88%;
    }
    .comment {
        width: 95%;
    }
}

/* 左サイドバー */
.module {
    background-clip: padding-box;
    border: 0;
    position: relative;
}
.module .flex-module {
    background-color: #fff;
    border: 1px solid #e6ecf0;
    padding: 20px;
    line-height: 16px;
}
.flex-module-inner, .flex-module-footer {
    color: #222222;
    font-size: 14px;
}
.user-name-area {
    margin: 0 0 0 10px;
}
.user-name {
    font-size: 14px;
}
.user-name, .account-name {
    margin-bottom: 3px
}
.account-name, .account-name > a {
    color: #657786;
}
li.user-profile-item {
    display: inline-block;
}
.profile-avatar {
    border-radius: 50%;
    object-fit: cover;
}
.user-name-area {
    vertical-align: middle;
}
.user-detail-info {
    padding-top: 10px;
}
.description {
    line-height: initial;
}
ul.knowledge-score-sum, ul.knowledge-score-week {
    margin-bottom: 0;
    padding-left: 0;
}
ul.knowledge-score-sum > li, ul.knowledge-score-week > li {
    display: inline-block;
    margin-right: 10px;
}

/* メインコンテンツ */
.ContentsModules {
    background-color: #fff;
    border: 1px solid #e6ecf0;
}
.MenuNavigation {
    padding: 0 25px;
}
.MenuNavigation-titleText {
    padding: 15px 0;
    border-bottom: 2px solid #e6ecf0;
    color: #222222;
    font-weight: bold;
}
ul.navigation-menu {
    margin-bottom: 0;
}
ul.navigation-menu > li {
    display: inline-block;
    width: 25%;
}
ul.navigation > .link-items:hover {
    margin-bottom: 0;
    cursor: pointer;
}
ul.navigation li {
    display: grid;
    text-align: center;
    margin-right: 4px;
}
.action-button {
    margin-top: 10px;
    text-align: center;
}
.register-button {
    border-radius: 0;
    margin: 0 0 5px 0;
}

/* 本棚一覧 */
.shelf-module {
    padding: 10px;
    line-height: 16px;
}
.shelf-books-content {
    border-bottom: 1px solid #e6ecf0;
    margin: 5px 0;
    padding: 10px 10px;
}
h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.producer-info {
    vertical-align: top;
}
ul.shelf-basic-info {
    margin-bottom: 8px;
    padding-left: 0;
}
ul.shelf-basic-info li {
    display: inline-block;
    margin: 0 6px 0 0;
}
.producer-profile-image {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: sub;
    margin: 0 5px 0 0;
}
ul.shelf-reactions {
    list-style: none;
    margin-bottom: 5px;
    padding-left: 0;
}
ul.shelf-reactions li {
    display: inline-block;
    margin-right: 10px;
}
ul.shelf-reaction {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
ul.shelf-reaction li {
    display: inline-block;
    margin-right: 4px;
}
ul.shelf-reaction li > span {
    color: #cccccc;
}
.shelf-reaction-reply-link,.shelf-reaction-reply-link:visited {
    color: #cccccc;
}
ul.shelf-reaction li > span.shelf-reaction-reply:hover {
    color: #337ab7;
    cursor: pointer;
}
ul.shelf-reaction li > span.shelf-reaction-heart:hover {
    color: #f08080;
    cursor: pointer;
}
ul.shelf-reaction li > span.favorite-done {
    color: #f08080;
}
ul.book-list {
    margin: 15px 0 0;
    padding: 0;
}
ul.book-list > li {
    width: 20%;
    vertical-align: top;
    display: inline-block;
}
.book-content {
    font-size: 12px;
}
.shelf-book-image {
    text-align: center;
    margin-bottom: 5px;
}
.amazon-book-image {
    width: 90%;
    border: 1px solid #e6ecf0;
}
ul.book-title-data {
    margin-bottom: 0;
    padding: 5px 8px;
}
ul.book-title-data li {
    margin: 1px 0;
}
.book-title {
    font-weight: bold;
    word-wrap: break-word;
}
ul.authors {
    margin-bottom: 0;
    padding-left: 0;
}
ul.authors li {
    display: inline;
}
.author-name {
    width: auto;
}
.sale-date {
    font-size: 12px;
    color: #657786;
}
.no-shelf-text {
    padding: 10px;
    line-height: 16px;
    text-align: center;
}

/* 読んだ本一覧 */
.comment-module {
    padding: 10px;
    line-height: 16px;
}
ul.book-data {
    font-size: 12px;
}
li.book-data-item {
    display: inline-block;
    vertical-align: top;
}
.book-info {
    width: 20%;
    margin: 0 5px 0 10px;
    display: inline-block;
}
.book-image {
    text-align: center;
}
.book-comment {
    display: inline-block;
    vertical-align: top;
}
.book-comment-content {
    border-bottom: 1px solid #e6ecf0;
    margin: 5px;
    padding: 10px 0;
}
.book-comment-content > li {
    display: inline-block;
}
.book-title {
    font-weight: bold;
    word-wrap: break-word;
}
ul.authors {
    margin-bottom: 0;
    padding-left: 0;
}
ul.authors li {
    display: inline;
}
.author-name {
    width: auto;
}
.sale-date {
    font-size: 12px;
    color: #657786;
}

.comment-text {
    max-width: 90%;
    word-break: break-word;
}
.comment-text, .comment-reaction {
    white-space: pre-line;
    line-height: normal;
}
.profile-image {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: text-top;
}
.user-name {
    font-weight: bold;
}
.comment-date {
    max-width: 90%;
}
ul.comment-reactions {
    margin-bottom: 0;
    padding-left: 0;
}
ul.comment-reactions li {
    display: inline-block;
    margin-right: 10px;
}
ul.comment-reaction {
    margin-bottom: 0;
    padding-left: 0;
}
ul.comment-reaction li {
    display: inline-block;
    margin-right: 4px;
}
ul.comment-reaction li > span {
    color: #cccccc;
}
ul.comment-reaction li > span.comment-reaction-reply:hover {
    color: #337ab7;
    cursor: pointer;
}
ul.comment-reaction li > span.comment-reaction-heart:hover {
    color: #f08080;
    cursor: pointer;
}
ul.comment-reaction li > span.favorite-done {
    color: #f08080;
}
.no-comment-text {
    padding: 10px;
    line-height: 16px;
    text-align: center;
}

.book-module {
    padding: 10px;
    line-height: 16px;
}
.book-image {
    text-align: center;
    margin-bottom: 5px;
}
.book-title {
    font-weight: bold;
    word-wrap: break-word;
}
ul.authors {
    margin-bottom: 0;
    padding-left: 0;
}
ul.authors li {
    display: inline;
}
.author-name {
    width: auto;
}
.sale-date {
    font-size: 12px;
    color: #657786;
}
.no-book-text {
    padding: 10px;
    line-height: 16px;
    text-align: center;
}

.form-control {
    height: 45px;
    width: 100%;
    color: #222222;
    border: 0 solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    transition: none;
}
ul.add-comment {
    margin: 25px 0;
    padding-left: 0;
}
ul.add-comment li {
    display: inline;
}
.form-group {
    width: 90%;
    margin-bottom: 5px;
}
.comment-form {
    margin-left: 60px;
}

ul.comment-list {
    margin: 0;
    padding-left: 0;
}
.comment-menu {
    float: right;
    padding: 0 10px;
}
.comment-menu-icon {
    color: #cccccc;
}
.dropdown-menu {
    top: 18px;
    left: -180px;
}
ul.comment-user {
    margin: 0;
}
ul.comment-user li {
    display: inline;
}
.user-profile-icon {
    text-align: center;
    position: absolute;
}
ul.comment-user-name-space {
    margin: 0 0 5px 55px;
}
.comment-user-name {
    font-weight: bold;
}
.comment {
    padding: 0 0 0 55px;
    white-space: pre-line;
}
ul.space-for-comment {
    margin: 0 50px;
}

.replies {
    margin: 20px 0 0 30px;
}
.reply-button {
    border-radius: 0;
    background-color: #cccccc;
    border: 0 solid #e6ecf0;
}
.reply-button:hover {
    background-color: #337ab7;
}
.reply-comment {
    margin: 15px 0;
}
.min-profile-image {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: text-top;
}
